{% extends 'main/navbar.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/main.css' %}"/>
{% endblock %}
{% block content %}
    <section>
        <div class="layout main_group">
            <div class="layout main_flex">
                <div class="layout main_flex_item">
                    <h1 class="layout title_1">
                        Достигай своих карьерных целей
                    </h1>
                    <div class="outer_spacer"></div>
                    <h4 class="layout main_subtitle">
                        Расскажи о себе и мы поможем понять кем ты хочешь стать
                        когда вырастешь и расскажем, что нужно для этого
                        сделать
                    </h4>
                </div>
            </div>
            <div class="main_flex_spacer"></div>
            <div class="layout main_image_subflex">
                <div style="--src:url({% static '/assets/pitching.png' %})"
                     class="layout main_image">
                </div>
            </div>
        </div>
    </section>
    <!-- ======= End section1 ======= -->
    <section>
        <div class="layout career_goal_flex">
            <div class="career_goal_flex_item">
                <div class="layout career_goal_choice"
                     onclick="auth_no_goal()">
                    <div style="--src:url({% static '/assets/talking.png' %})"
                         class="layout career_goal_image">
                    </div>
                    <div class="layout career_goal_info">
                        <h2 class="layout title_2">
                            Помогите найти карьерную цель и достичь её
                        </h2>
                        <h4 class="layout normal_text">
                            Изучим твои опыт, навыки и тебя самого и
                            подскажем, какую карьеру выбрать. Ах да, еще
                            расскажем как ее построить
                        </h4>
                    </div>
                </div>
                <div class="layout replacement_choice"
                     onclick="auth_no_goal()">
                    <h2 class="layout1 replace_text">
                        Заполнить анкету
                    </h2>
                    <div style="--src:url({% static '/assets/man_waving.png' %})"
                         class="layout career_goal_image">
                    </div>
                </div>
            </div>
            <div class="outer_spacer_vertical"></div>
            <div class="career_goal_flex_item">
                <div class="layout career_goal_choice"
                     onclick="auth_goal()">
                    <div style="--src:url({% static '/assets/choosing.png' %})"
                         class="layout career_goal_image">
                    </div>
                    <div class="layout career_goal_info">
                        <h2 class="layout title_2">
                            У меня есть цель, расскажите как ее достичь
                        </h2>
                        <h4 class="layout normal_text">
                            Проанализируем твою цель и составим для тебя
                            список куда ходить, что изучать и где работать
                        </h4>
                    </div>
                </div>
                <div class="layout replacement_choice"
                     onclick="auth_goal()">
                    <h2 class="layout1 replace_text">
                        Заполнить анкету
                    </h2>
                    <div style="--src:url({% static '/assets/woman_waving.png' %})"
                         class="layout career_goal_image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= End section2 ======= -->
    <section>
        <h1 class="layout1 title_1"> Как мы можем помочь? </h1>
        <div class="layout our_help_flex">
            {% for title, description in how_to_help_list.items %}
                <div class="card">
                    <div class="layout card_group">
                        <div class="layout card_flex">
                            <h2 class="layout card_title">
                                {{ title }}
                            </h2>
                            <h4 class="layout card_text">
                                {{ description }}
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="main-page-section1__flex2-spacer"></div>
            {% endfor %}
        </div>

        <div class="layout bottom_line_container">
            <div class="layout bottom_line_column">
                <h1 class="layout title_1">
                    Начни путь к работе мечты прямо сейчас
                </h1>
                <div class="layout1 button" onclick="auth_no_goal()">
                    Попробовать
                </div>
            </div>
            <div style="--src:url({% static '/assets/people.png' %})"
                 class="layout bottom_line_image">
            </div>
        </div>


    </section>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        function auth_goal() {
            location.href = '{% url "users:auth" goal="goal" %}'
        }

        function auth_no_goal() {
            location.href = '{% url "users:auth" goal="no_goal" %}'
        }
    </script>
{% endblock %}