{% extends 'main/navbar.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css"
          href="{% static '/css/MainPage.css' %}"/>
{% endblock %}

{% block content %}
    <div class="layout main_group">
        <div class="layout main_flex">
            <div class="layout main_flex_item">
                <h1 class="layout title_1">
                    Помогаем достичь профессиональных целей
                </h1>
                <div class="outer_spacer"></div>
                <div class="layout1 button" onclick="form()">
                    Войти через Google
                </div>
            </div>
        </div>
        <div class="main_flex_spacer"></div>
        <div class="layout main_image_subflex">
            <div style="--src:url({% static '/assets/high-five.png' %})"
                 class="layout main_image">
            </div>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
    <script type="text/javascript">
        function form() {
            location.href = '/form'
        }
    </script>
{% endblock %}
