{% extends 'main/navbar.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/Registration.css' %}"/>
{% endblock %}

{% block content %}
    <div class="registration layout registration-block">
        <div class="layout registration-flex">
            <div class="registration-flex-item">
                <div class="layout registration-flex1">
                    <h1 class="layout registration-hero-title">
                        Помогаем достичь профессиональных целей
                    </h1>
                    <div class="layout registration-cover-block1">
                        <h4 class="layout registration-highlights1"
                            onclick="form()">
                            Войти через Google
                        </h4>
                    </div>
                </div>
            </div>
            <div class="registration-flex-spacer"></div>
            <div class="registration-flex-item1">
                <div class="layout registration-cover-block">
                    <div
                            style="--src:url({% static 'assets/high_five.png' %})"
                            class="layout registration-image1"
                    ></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
    <script type="text/javascript">
        function form() {
            location.href = '/form'
        }
    </script>
{% endblock %}
