.form-group.layout {
    position: relative;
    height: min-content;
}

.form-group {
    display: flex;
}

.form-block.layout {
    position: relative;
    overflow: hidden;
    height: min-content;
    flex-grow: 1;
}

.form-block {
    display: flex;
}

.flex_column {
    display: flex;
    height: min-content;
    position: relative;
    flex: 0 1 511px;
}

.question_group_1.layout {
    position: relative;
    height: min-content;
    flex-grow: 1;
    margin: 50px 50px 10px 80px;
}

.question_group_1 {
    display: flex;
    flex-direction: column;
}

.input_box.layout {
    position: relative;
    height: min-content;
    margin: 0 0 0 2px;
}

.input_box {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.0627451);
    border-radius: 20px 20px 20px 20px;
}

.choice-title.layout {
    position: relative;
    height: min-content;
    margin: 30px 18px 0 30px;
}


.choice-title {
    font: 500 24px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    color: #232323;
    letter-spacing: -1.2px;
}


.input_choice.layout {
    position: relative;
    height: min-content;
    flex-grow: 1;
}

.input_choice {
    font: 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    display: flex;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    color: #232323;
    letter-spacing: -0.9px;
    padding: 10px 10px 10px 20px;
    border-radius: 10px 10px 10px 10px;
    margin: 0 20px 0 20px;
}

.input_choice:visited {
    background-color: green;
}

.input_choice:hover {
    background-color: #67c8e1;
    color: white
}

.button.layout {
    margin: 0 0 0 0;
}

input[type="radio"] {
    visibility: hidden;
}

input[type="radio"]:checked + label {
    color: white;
    background-color: #67c8e1;
}

.input_text.layout {
    position: relative;
    height: max-content;
    flex-grow: 1;
    margin: 10px 0 15px;
}

.input_text {
    font: 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    color: #232323;
    border: none;
    background-color: #f1f1f1;
    letter-spacing: -0.9px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

.form-cover-block.layout {
    position: relative;
    height: min-content;
    width: 81.49%;
    margin: 60px 18.51% 0 0;
}

.form-cover-block {
    display: flex;
    background-color: #80d2dd;
    border-radius: 20px 20px 20px 20px;
}

.choice_box.layout {
    position: relative;
    height: min-content;
    flex-grow: 1;
    margin: 50px 80px 10px 46px;
}

.choice_box {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.0627451);
    border-radius: 20px 20px 20px 20px;
}

.form-content-box.layout {
    position: absolute;
    top: 0;
    height: min-content;
    bottom: 834px;
    left: 0;
    flex-grow: 1;
    right: 0;
}

.form-content-box {
    display: flex;
    background-color: white;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.0627451);
}

.form-content-box-item {
    display: flex;
    position: relative;
    flex: 0 1 104px;
}

.form-content-box-spacer {
    flex: 0 1 8px;
}

.form-text-body.layout {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 23px 0 25px;
}

.form-text-body {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font: 14px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    color: black;
    text-align: right;
    letter-spacing: -0.56px;
}