/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.form-group.layout {
  position: relative;
  flex-grow: 1; }

.form-group {
  display: flex; }

.form-block.layout {
  position: relative;
  overflow: hidden;
  min-height: 900px;
  flex-grow: 1; }

.form-block {
  display: flex;
  background-color: #f9fbfc; }

.form-block-item {
  display: flex;
  position: relative;
  flex: 0 1 511px; }

.form-flex.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  flex-grow: 1;
  margin: 184px 69px 130px 80px; }
  @media (max-width: 1199px) {
    .form-flex.layout {
      margin: 146px 59px 105px 68px; } }
  @media (max-width: 991px) {
    .form-flex.layout {
      margin: 105px 49px 79px 54px; } }
  @media (max-width: 767px) {
    .form-flex.layout {
      margin: 70px 40px 56px 43px; } }
  @media (max-width: 575px) {
    .form-flex.layout {
      margin: 52px 35px 44px 37px; } }
  @media (max-width: 479px) {
    .form-flex.layout {
      margin: 35px 31px 33px; } }
  @media (max-width: 383px) {
    .form-flex.layout {
      margin: 23px 28px 25px; } }

.form-flex {
  display: flex;
  flex-direction: column; }

.form-content-box3.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0px 0px 0px 2px; }

.form-content-box3 {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.0627451);
  border-radius: 20px 20px 20px 20px; }

.title2-to-left.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 30px 18px 0px 30px; }
  @media (max-width: 1199px) {
    .title2-to-left.layout {
      margin: 26px 16px 0px 26px; } }
  @media (max-width: 991px) {
    .title2-to-left.layout {
      margin: 22px 13px 0px 22px; } }
  @media (max-width: 767px) {
    .title2-to-left.layout {
      margin: 19px 11px 0px 19px; } }
  @media (max-width: 575px) {
    .title2-to-left.layout {
      margin: 17px 10px 0px 17px; } }
  @media (max-width: 479px) {
    .title2-to-left.layout {
      margin: 15px 9px 0px 15px; } }
  @media (max-width: 383px) {
    .title2-to-left.layout {
      margin: 14px 9px 0px 14px; } }

.title2-to-left {
  font: 500 24px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
  color: #232323;
  letter-spacing: -1.2px; }
  @media (max-width: 1199px) {
    .title2-to-left {
      font-size: 22px;
      text-align: left; } }
  @media (max-width: 991px) {
    .title2-to-left {
      font-size: 20px; } }
  @media (max-width: 767px) {
    .title2-to-left {
      font-size: 19px; } }
  @media (max-width: 575px) {
    .title2-to-left {
      font-size: 18px; } }
  @media (max-width: 479px) {
    .title2-to-left {
      font-size: 17px; } }
  @media (max-width: 383px) {
    .title2-to-left {
      font-size: 16px; } }

.form_choice_background.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 32px 30px 43px; }
  @media (max-width: 1199px) {
    .form_choice_background.layout {
      margin: 28px 26px 37px; } }
  @media (max-width: 991px) {
    .form_choice_background.layout {
      margin: 24px 22px 30px; } }
  @media (max-width: 767px) {
    .form_choice_background.layout {
      margin: 20px 19px 25px; } }
  @media (max-width: 575px) {
    .form_choice_background.layout {
      margin: 18px 17px 22px; } }
  @media (max-width: 479px) {
    .form_choice_background.layout {
      margin: 16px 15px 19px; } }
  @media (max-width: 383px) {
    .form_choice_background.layout {
      margin: 15px 14px 17px; } }

.form_choice_background {
  display: flex;
  background-color: #f1f1f1;
  border-radius: 10px 10px 10px 10px; }

.form-highlights.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  flex-grow: 1;
  margin: 13px 20px 15px; }
  @media (max-width: 1199px) {
    .form-highlights.layout {
      margin: 11px 18px 13px; } }
  @media (max-width: 991px) {
    .form-highlights.layout {
      margin: 10px 15px 11px; } }
  @media (max-width: 767px) {
    .form-highlights.layout {
      margin: 8px 13px 9px; } }
  @media (max-width: 575px) {
    .form-highlights.layout {
      margin: 7px 11px 9px; } }
  @media (max-width: 479px) {
    .form-highlights.layout {
      margin: 7px 10px 8px; } }
  @media (max-width: 383px) {
    .form-highlights.layout {
      margin: 6px 10px 7px; } }

.form-highlights {
  font: 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
  color: #232323;
  letter-spacing: -0.9px;
  opacity: 0.3; }
  @media (max-width: 1199px) {
    .form-highlights {
      font-size: 17px;
      text-align: left; } }
  @media (max-width: 991px) {
    .form-highlights {
      font-size: 16px; } }
  @media (max-width: 767px) {
    .form-highlights {
      font-size: 15px; } }
  @media (max-width: 479px) {
    .form-highlights {
      font-size: 14px; } }

.form-content-box3.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 50px 0px 0px 2px; }
  @media (max-width: 1199px) {
    .form-content-box3.layout1 {
      margin: 43px 0px 0px 2px; } }
  @media (max-width: 991px) {
    .form-content-box3.layout1 {
      margin: 35px 0px 0px 2px; } }
  @media (max-width: 767px) {
    .form-content-box3.layout1 {
      margin: 28px 0px 0px 2px; } }
  @media (max-width: 575px) {
    .form-content-box3.layout1 {
      margin: 24px 0px 0px 2px; } }
  @media (max-width: 479px) {
    .form-content-box3.layout1 {
      margin: 21px 0px 0px 2px; } }
  @media (max-width: 383px) {
    .form-content-box3.layout1 {
      margin: 19px 0px 0px 2px; } }

.title2-to-left.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 30px 27px 0px 30px; }
  @media (max-width: 1199px) {
    .title2-to-left.layout1 {
      margin: 26px 24px 0px 26px; } }
  @media (max-width: 991px) {
    .title2-to-left.layout1 {
      margin: 22px 20px 0px 22px; } }
  @media (max-width: 767px) {
    .title2-to-left.layout1 {
      margin: 19px 17px 0px 19px; } }
  @media (max-width: 575px) {
    .title2-to-left.layout1 {
      margin: 17px 15px 0px 17px; } }
  @media (max-width: 479px) {
    .title2-to-left.layout1 {
      margin: 15px 14px 0px 15px; } }
  @media (max-width: 383px) {
    .title2-to-left.layout1 {
      margin: 14px 13px 0px 14px; } }

.form_choice_background.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 61px 30px 43px; }
  @media (max-width: 1199px) {
    .form_choice_background.layout1 {
      margin: 52px 26px 37px; } }
  @media (max-width: 991px) {
    .form_choice_background.layout1 {
      margin: 43px 22px 30px; } }
  @media (max-width: 767px) {
    .form_choice_background.layout1 {
      margin: 35px 19px 25px; } }
  @media (max-width: 575px) {
    .form_choice_background.layout1 {
      margin: 31px 17px 22px; } }
  @media (max-width: 479px) {
    .form_choice_background.layout1 {
      margin: 27px 15px 19px; } }
  @media (max-width: 383px) {
    .form_choice_background.layout1 {
      margin: 24px 14px 17px; } }

.form-cover-block.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 81.49%;
  margin: 60px 18.51% 0px 0%; }
  @media (max-width: 1199px) {
    .form-cover-block.layout {
      margin: 51px 18.51% 0px 0%; } }
  @media (max-width: 991px) {
    .form-cover-block.layout {
      margin: 42px 18.51% 0px 0%; } }
  @media (max-width: 767px) {
    .form-cover-block.layout {
      margin: 34px 18.51% 0px 0%; } }
  @media (max-width: 575px) {
    .form-cover-block.layout {
      margin: 30px 18.51% 0px 0%; } }
  @media (max-width: 479px) {
    .form-cover-block.layout {
      margin: 26px 18.51% 0px 0%; } }
  @media (max-width: 383px) {
    .form-cover-block.layout {
      margin: 23px 18.51% 0px 0%; } }

.form-cover-block {
  display: flex;
  background-color: #80d2dd;
  border-radius: 20px 20px 20px 20px; }

.form-highlights1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 71.53%;
  margin: 13px auto 15px; }
  @media (max-width: 1199px) {
    .form-highlights1.layout {
      margin: 11px auto 13px; } }
  @media (max-width: 991px) {
    .form-highlights1.layout {
      margin: 10px auto 11px; } }
  @media (max-width: 767px) {
    .form-highlights1.layout {
      margin: 8px auto 9px; } }
  @media (max-width: 575px) {
    .form-highlights1.layout {
      margin: 7px auto 9px; } }
  @media (max-width: 479px) {
    .form-highlights1.layout {
      margin: 7px auto 8px; } }
  @media (max-width: 383px) {
    .form-highlights1.layout {
      margin: 6px auto 7px; } }

.form-highlights1 {
  font: 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px; }
  @media (max-width: 1199px) {
    .form-highlights1 {
      font-size: 17px;
      text-align: left; } }
  @media (max-width: 991px) {
    .form-highlights1 {
      font-size: 16px; } }
  @media (max-width: 767px) {
    .form-highlights1 {
      font-size: 15px; } }
  @media (max-width: 479px) {
    .form-highlights1 {
      font-size: 14px; } }

.form-block-item1 {
  display: flex;
  position: relative;
  flex: 0 1 443px; }

.form-content-box2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  flex-grow: 1;
  margin: 184px 54px 296px 29px; }
  @media (max-width: 1199px) {
    .form-content-box2.layout {
      margin: 146px 46px 230px 25px; } }
  @media (max-width: 991px) {
    .form-content-box2.layout {
      margin: 105px 38px 160px 22px; } }
  @media (max-width: 767px) {
    .form-content-box2.layout {
      margin: 70px 30px 99px 18px; } }
  @media (max-width: 575px) {
    .form-content-box2.layout {
      margin: 52px 27px 68px 17px; } }
  @media (max-width: 479px) {
    .form-content-box2.layout {
      margin: 35px 23px 38px 15px; } }
  @media (max-width: 383px) {
    .form-content-box2.layout {
      margin: 23px 20px 17px 14px; } }

.form-content-box2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.0627451);
  border-radius: 20px 20px 20px 20px; }

.form_choice_background.layout2 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 52px 30px 0px; }
  @media (max-width: 1199px) {
    .form_choice_background.layout2 {
      margin: 44px 26px 0px; } }
  @media (max-width: 991px) {
    .form_choice_background.layout2 {
      margin: 36px 22px 0px; } }
  @media (max-width: 767px) {
    .form_choice_background.layout2 {
      margin: 29px 19px 0px; } }
  @media (max-width: 575px) {
    .form_choice_background.layout2 {
      margin: 25px 17px 0px; } }
  @media (max-width: 479px) {
    .form_choice_background.layout2 {
      margin: 22px 15px 0px; } }
  @media (max-width: 383px) {
    .form_choice_background.layout2 {
      margin: 20px 14px 0px; } }

.form_choice_text.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  flex-grow: 1;
  margin: 13px 20px 15px; }
  @media (max-width: 1199px) {
    .form_choice_text.layout {
      margin: 11px 18px 13px; } }
  @media (max-width: 991px) {
    .form_choice_text.layout {
      margin: 10px 15px 11px; } }
  @media (max-width: 767px) {
    .form_choice_text.layout {
      margin: 8px 13px 9px; } }
  @media (max-width: 575px) {
    .form_choice_text.layout {
      margin: 7px 11px 9px; } }
  @media (max-width: 479px) {
    .form_choice_text.layout {
      margin: 7px 10px 8px; } }
  @media (max-width: 383px) {
    .form_choice_text.layout {
      margin: 6px 10px 7px; } }

.form_choice_text {
  font: 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
  color: #232323;
  letter-spacing: -0.9px; }
  @media (max-width: 1199px) {
    .form_choice_text {
      font-size: 17px;
      text-align: left; } }
  @media (max-width: 991px) {
    .form_choice_text {
      font-size: 16px; } }
  @media (max-width: 767px) {
    .form_choice_text {
      font-size: 15px; } }
  @media (max-width: 479px) {
    .form_choice_text {
      font-size: 14px; } }

.form_choice_background.layout3 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 10px 30px 0px; }
  @media (max-width: 1199px) {
    .form_choice_background.layout3 {
      margin: 9px 26px 0px; } }
  @media (max-width: 991px) {
    .form_choice_background.layout3 {
      margin: 7px 22px 0px; } }
  @media (max-width: 767px) {
    .form_choice_background.layout3 {
      margin: 6px 19px 0px; } }
  @media (max-width: 575px) {
    .form_choice_background.layout3 {
      margin: 6px 17px 0px; } }
  @media (max-width: 479px) {
    .form_choice_background.layout3 {
      margin: 5px 15px 0px; } }
  @media (max-width: 383px) {
    .form_choice_background.layout3 {
      margin: 5px 14px 0px; } }

.form-highlights3.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  flex-grow: 1;
  margin: 13px 20px 15px; }
  @media (max-width: 1199px) {
    .form-highlights3.layout {
      margin: 11px 18px 13px; } }
  @media (max-width: 991px) {
    .form-highlights3.layout {
      margin: 10px 15px 11px; } }
  @media (max-width: 767px) {
    .form-highlights3.layout {
      margin: 8px 13px 9px; } }
  @media (max-width: 575px) {
    .form-highlights3.layout {
      margin: 7px 11px 9px; } }
  @media (max-width: 479px) {
    .form-highlights3.layout {
      margin: 7px 10px 8px; } }
  @media (max-width: 383px) {
    .form-highlights3.layout {
      margin: 6px 10px 7px; } }

.form-highlights3 {
  font: 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
  color: #232323;
  letter-spacing: -0.9px; }
  @media (max-width: 1199px) {
    .form-highlights3 {
      font-size: 17px;
      text-align: left; } }
  @media (max-width: 991px) {
    .form-highlights3 {
      font-size: 16px; } }
  @media (max-width: 767px) {
    .form-highlights3 {
      font-size: 15px; } }
  @media (max-width: 479px) {
    .form-highlights3 {
      font-size: 14px; } }

.form_choice_background.layout4 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 10px 30px 0px; }
  @media (max-width: 1199px) {
    .form_choice_background.layout4 {
      margin: 9px 26px 0px; } }
  @media (max-width: 991px) {
    .form_choice_background.layout4 {
      margin: 7px 22px 0px; } }
  @media (max-width: 767px) {
    .form_choice_background.layout4 {
      margin: 6px 19px 0px; } }
  @media (max-width: 575px) {
    .form_choice_background.layout4 {
      margin: 6px 17px 0px; } }
  @media (max-width: 479px) {
    .form_choice_background.layout4 {
      margin: 5px 15px 0px; } }
  @media (max-width: 383px) {
    .form_choice_background.layout4 {
      margin: 5px 14px 0px; } }

.form-highlights4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  flex-grow: 1;
  margin: 13px 20px 15px; }
  @media (max-width: 1199px) {
    .form-highlights4.layout {
      margin: 11px 18px 13px; } }
  @media (max-width: 991px) {
    .form-highlights4.layout {
      margin: 10px 15px 11px; } }
  @media (max-width: 767px) {
    .form-highlights4.layout {
      margin: 8px 13px 9px; } }
  @media (max-width: 575px) {
    .form-highlights4.layout {
      margin: 7px 11px 9px; } }
  @media (max-width: 479px) {
    .form-highlights4.layout {
      margin: 7px 10px 8px; } }
  @media (max-width: 383px) {
    .form-highlights4.layout {
      margin: 6px 10px 7px; } }

.form-highlights4 {
  font: 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
  color: #232323;
  letter-spacing: -0.9px; }
  @media (max-width: 1199px) {
    .form-highlights4 {
      font-size: 17px;
      text-align: left; } }
  @media (max-width: 991px) {
    .form-highlights4 {
      font-size: 16px; } }
  @media (max-width: 767px) {
    .form-highlights4 {
      font-size: 15px; } }
  @media (max-width: 479px) {
    .form-highlights4 {
      font-size: 14px; } }

.form_choice_background.layout5 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 10px 30px 50px; }
  @media (max-width: 1199px) {
    .form_choice_background.layout5 {
      margin: 9px 26px 43px; } }
  @media (max-width: 991px) {
    .form_choice_background.layout5 {
      margin: 7px 22px 35px; } }
  @media (max-width: 767px) {
    .form_choice_background.layout5 {
      margin: 6px 19px 28px; } }
  @media (max-width: 575px) {
    .form_choice_background.layout5 {
      margin: 6px 17px 24px; } }
  @media (max-width: 479px) {
    .form_choice_background.layout5 {
      margin: 5px 15px 21px; } }
  @media (max-width: 383px) {
    .form_choice_background.layout5 {
      margin: 5px 14px 19px; } }

.form-highlights5.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  flex-grow: 1;
  margin: 13px 20px 15px; }
  @media (max-width: 1199px) {
    .form-highlights5.layout {
      margin: 11px 18px 13px; } }
  @media (max-width: 991px) {
    .form-highlights5.layout {
      margin: 10px 15px 11px; } }
  @media (max-width: 767px) {
    .form-highlights5.layout {
      margin: 8px 13px 9px; } }
  @media (max-width: 575px) {
    .form-highlights5.layout {
      margin: 7px 11px 9px; } }
  @media (max-width: 479px) {
    .form-highlights5.layout {
      margin: 7px 10px 8px; } }
  @media (max-width: 383px) {
    .form-highlights5.layout {
      margin: 6px 10px 7px; } }

.form-highlights5 {
  font: 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
  color: #232323;
  letter-spacing: -0.9px; }
  @media (max-width: 1199px) {
    .form-highlights5 {
      font-size: 17px;
      text-align: left; } }
  @media (max-width: 991px) {
    .form-highlights5 {
      font-size: 16px; } }
  @media (max-width: 767px) {
    .form-highlights5 {
      font-size: 15px; } }
  @media (max-width: 479px) {
    .form-highlights5 {
      font-size: 14px; } }

.form-block-item2 {
  display: flex;
  position: relative;
  flex: 0 1 486px; }

.form-content-box1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  flex-grow: 1;
  margin: 184px 80px 356px 46px; }
  @media (max-width: 1199px) {
    .form-content-box1.layout {
      margin: 146px 68px 276px 39px; } }
  @media (max-width: 991px) {
    .form-content-box1.layout {
      margin: 105px 54px 189px 32px; } }
  @media (max-width: 767px) {
    .form-content-box1.layout {
      margin: 70px 43px 114px 26px; } }
  @media (max-width: 575px) {
    .form-content-box1.layout {
      margin: 52px 37px 77px 23px; } }
  @media (max-width: 479px) {
    .form-content-box1.layout {
      margin: 35px 31px 40px 20px; } }
  @media (max-width: 383px) {
    .form-content-box1.layout {
      margin: 23px 28px 14px 18px; } }

.form-content-box1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.0627451);
  border-radius: 20px 20px 20px 20px; }

.form_choice_background.layout6 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 52px 30px 0px; }
  @media (max-width: 1199px) {
    .form_choice_background.layout6 {
      margin: 44px 26px 0px; } }
  @media (max-width: 991px) {
    .form_choice_background.layout6 {
      margin: 36px 22px 0px; } }
  @media (max-width: 767px) {
    .form_choice_background.layout6 {
      margin: 29px 19px 0px; } }
  @media (max-width: 575px) {
    .form_choice_background.layout6 {
      margin: 25px 17px 0px; } }
  @media (max-width: 479px) {
    .form_choice_background.layout6 {
      margin: 22px 15px 0px; } }
  @media (max-width: 383px) {
    .form_choice_background.layout6 {
      margin: 20px 14px 0px; } }

.form-highlights6.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  flex-grow: 1;
  margin: 13px 20px 15px; }
  @media (max-width: 1199px) {
    .form-highlights6.layout {
      margin: 11px 18px 13px; } }
  @media (max-width: 991px) {
    .form-highlights6.layout {
      margin: 10px 15px 11px; } }
  @media (max-width: 767px) {
    .form-highlights6.layout {
      margin: 8px 13px 9px; } }
  @media (max-width: 575px) {
    .form-highlights6.layout {
      margin: 7px 11px 9px; } }
  @media (max-width: 479px) {
    .form-highlights6.layout {
      margin: 7px 10px 8px; } }
  @media (max-width: 383px) {
    .form-highlights6.layout {
      margin: 6px 10px 7px; } }

.form-highlights6 {
  font: 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
  color: #232323;
  letter-spacing: -0.9px; }
  @media (max-width: 1199px) {
    .form-highlights6 {
      font-size: 17px;
      text-align: left; } }
  @media (max-width: 991px) {
    .form-highlights6 {
      font-size: 16px; } }
  @media (max-width: 767px) {
    .form-highlights6 {
      font-size: 15px; } }
  @media (max-width: 479px) {
    .form-highlights6 {
      font-size: 14px; } }

.form_choice_background.layout7 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 10px 30px 0px; }
  @media (max-width: 1199px) {
    .form_choice_background.layout7 {
      margin: 9px 26px 0px; } }
  @media (max-width: 991px) {
    .form_choice_background.layout7 {
      margin: 7px 22px 0px; } }
  @media (max-width: 767px) {
    .form_choice_background.layout7 {
      margin: 6px 19px 0px; } }
  @media (max-width: 575px) {
    .form_choice_background.layout7 {
      margin: 6px 17px 0px; } }
  @media (max-width: 479px) {
    .form_choice_background.layout7 {
      margin: 5px 15px 0px; } }
  @media (max-width: 383px) {
    .form_choice_background.layout7 {
      margin: 5px 14px 0px; } }

.form-highlights7.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  flex-grow: 1;
  margin: 13px 20px 15px; }
  @media (max-width: 1199px) {
    .form-highlights7.layout {
      margin: 11px 18px 13px; } }
  @media (max-width: 991px) {
    .form-highlights7.layout {
      margin: 10px 15px 11px; } }
  @media (max-width: 767px) {
    .form-highlights7.layout {
      margin: 8px 13px 9px; } }
  @media (max-width: 575px) {
    .form-highlights7.layout {
      margin: 7px 11px 9px; } }
  @media (max-width: 479px) {
    .form-highlights7.layout {
      margin: 7px 10px 8px; } }
  @media (max-width: 383px) {
    .form-highlights7.layout {
      margin: 6px 10px 7px; } }

.form-highlights7 {
  font: 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
  color: #232323;
  letter-spacing: -0.9px; }
  @media (max-width: 1199px) {
    .form-highlights7 {
      font-size: 17px;
      text-align: left; } }
  @media (max-width: 991px) {
    .form-highlights7 {
      font-size: 16px; } }
  @media (max-width: 767px) {
    .form-highlights7 {
      font-size: 15px; } }
  @media (max-width: 479px) {
    .form-highlights7 {
      font-size: 14px; } }

.form_choice_background.layout8 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 10px 30px 50px; }
  @media (max-width: 1199px) {
    .form_choice_background.layout8 {
      margin: 9px 26px 43px; } }
  @media (max-width: 991px) {
    .form_choice_background.layout8 {
      margin: 7px 22px 35px; } }
  @media (max-width: 767px) {
    .form_choice_background.layout8 {
      margin: 6px 19px 28px; } }
  @media (max-width: 575px) {
    .form_choice_background.layout8 {
      margin: 6px 17px 24px; } }
  @media (max-width: 479px) {
    .form_choice_background.layout8 {
      margin: 5px 15px 21px; } }
  @media (max-width: 383px) {
    .form_choice_background.layout8 {
      margin: 5px 14px 19px; } }

.form-highlights8.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  flex-grow: 1;
  margin: 13px 20px 15px; }
  @media (max-width: 1199px) {
    .form-highlights8.layout {
      margin: 11px 18px 13px; } }
  @media (max-width: 991px) {
    .form-highlights8.layout {
      margin: 10px 15px 11px; } }
  @media (max-width: 767px) {
    .form-highlights8.layout {
      margin: 8px 13px 9px; } }
  @media (max-width: 575px) {
    .form-highlights8.layout {
      margin: 7px 11px 9px; } }
  @media (max-width: 479px) {
    .form-highlights8.layout {
      margin: 7px 10px 8px; } }
  @media (max-width: 383px) {
    .form-highlights8.layout {
      margin: 6px 10px 7px; } }

.form-highlights8 {
  font: 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
  color: #232323;
  letter-spacing: -0.9px; }
  @media (max-width: 1199px) {
    .form-highlights8 {
      font-size: 17px;
      text-align: left; } }
  @media (max-width: 991px) {
    .form-highlights8 {
      font-size: 16px; } }
  @media (max-width: 767px) {
    .form-highlights8 {
      font-size: 15px; } }
  @media (max-width: 479px) {
    .form-highlights8 {
      font-size: 14px; } }

.form-content-box.layout {
  position: absolute;
  top: 0px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  bottom: 834px;
  left: 0px;
  flex-grow: 1;
  right: 0px; }
  @media (max-width: 1199px) {
    .form-content-box.layout {
      bottom: 636px; } }
  @media (max-width: 991px) {
    .form-content-box.layout {
      bottom: 421px; } }
  @media (max-width: 767px) {
    .form-content-box.layout {
      bottom: 238px; } }
  @media (max-width: 575px) {
    .form-content-box.layout {
      bottom: 146px; } }
  @media (max-width: 479px) {
    .form-content-box.layout {
      bottom: 54px; } }
  @media (max-width: 383px) {
    .form-content-box.layout {
      bottom: 5px; } }

.form-content-box {
  display: flex;
  background-color: white;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.0627451); }

.form-content-box-item {
  display: flex;
  position: relative;
  flex: 0 1 104px; }

.form-block1.layout {
  position: relative;
  min-height: 13px;
  flex-grow: 1;
  margin: 26px 0px 27px 80px; }
  @media (max-width: 1199px) {
    .form-block1.layout {
      margin: 23px 0px 24px 68px; } }
  @media (max-width: 991px) {
    .form-block1.layout {
      margin: 19px 0px 20px 54px; } }
  @media (max-width: 767px) {
    .form-block1.layout {
      margin: 16px 0px 17px 43px; } }
  @media (max-width: 575px) {
    .form-block1.layout {
      margin: 15px 0px 15px 37px; } }
  @media (max-width: 479px) {
    .form-block1.layout {
      margin: 13px 0px 14px 31px; } }
  @media (max-width: 383px) {
    .form-block1.layout {
      margin: 12px 0px 13px 28px; } }

.form-block1 {
  display: flex;
  background: var(--src) center center/contain no-repeat;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.101961); }

.form-content-box-spacer {
  flex: 0 1 8px; }

.form-highlights21.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 21px 0px 23px; }
  @media (max-width: 1199px) {
    .form-highlights21.layout {
      margin: 18px 0px 20px; } }
  @media (max-width: 991px) {
    .form-highlights21.layout {
      margin: 16px 0px 17px; } }
  @media (max-width: 767px) {
    .form-highlights21.layout {
      margin: 13px 0px 14px; } }
  @media (max-width: 575px) {
    .form-highlights21.layout {
      margin: 12px 0px 13px; } }
  @media (max-width: 479px) {
    .form-highlights21.layout {
      margin: 11px 0px 12px; } }
  @media (max-width: 383px) {
    .form-highlights21.layout {
      margin: 10px 0px 11px; } }

.form-highlights21 {
  font: 700 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
  color: #232323;
  letter-spacing: -0.9px; }
  @media (max-width: 1199px) {
    .form-highlights21 {
      font-size: 17px;
      text-align: left; } }
  @media (max-width: 991px) {
    .form-highlights21 {
      font-size: 16px; } }
  @media (max-width: 767px) {
    .form-highlights21 {
      font-size: 15px; } }
  @media (max-width: 479px) {
    .form-highlights21 {
      font-size: 14px; } }

.form-content-box-spacer1 {
  flex: 0 1 1037px; }

.form-text-body.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 23.5px 0px 25.5px; }
  @media (max-width: 1199px) {
    .form-text-body.layout {
      margin: 21px 0px 22px; } }
  @media (max-width: 991px) {
    .form-text-body.layout {
      margin: 17px 0px 19px; } }
  @media (max-width: 767px) {
    .form-text-body.layout {
      margin: 15px 0px 16px; } }
  @media (max-width: 575px) {
    .form-text-body.layout {
      margin: 13px 0px 15px; } }
  @media (max-width: 479px) {
    .form-text-body.layout {
      margin: 12px 0px 13px; } }
  @media (max-width: 383px) {
    .form-text-body.layout {
      margin: 11px 0px 12px; } }

.form-text-body {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font: 14px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: -0.56px; }
  @media (max-width: 991px) {
    .form-text-body {
      font-size: 13px;
      text-align: right; } }
  @media (max-width: 575px) {
    .form-text-body {
      font-size: 12px; } }

.form-content-box-spacer2 {
  flex: 0 1 15px; }

.form-content-box-item1 {
  display: flex;
  position: relative;
  flex: 0 1 110px; }

.form-block2.layout {
  position: relative;
  height: 30px;
  flex-grow: 1;
  margin: 17px 80px 19px 0px; }
  @media (max-width: 1199px) {
    .form-block2.layout {
      margin: 15px 68px 17px 0px; } }
  @media (max-width: 991px) {
    .form-block2.layout {
      margin: 13px 54px 14px 0px; } }
  @media (max-width: 767px) {
    .form-block2.layout {
      margin: 11px 43px 12px 0px; } }
  @media (max-width: 575px) {
    .form-block2.layout {
      margin: 10px 37px 11px 0px; } }
  @media (max-width: 479px) {
    .form-block2.layout {
      margin: 9px 31px 10px 0px; } }
  @media (max-width: 383px) {
    .form-block2.layout {
      margin: 8px 28px 9px 0px; } }

.form-block2 {
  display: flex;
  background: var(--src) center center/contain no-repeat;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.121569); }

.form-icon.layout {
  position: relative;
  height: 30px;
  width: 30px;
  min-width: 30px; }

.form-icon {
  background: var(--src) center center/contain no-repeat; }
