/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.registration-block.layout {
  position: relative;
  overflow: hidden;
  min-height: 900px;
  flex-grow: 1; }

.registration-block {
  display: flex;
  flex-direction: column;
  background-color: #f9fbfc; }

.registration-content-box.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.registration-content-box {
  display: flex;
  background-color: white;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.0627451); }

.registration-content-box-item {
  display: flex;
  position: relative;
  flex: 0 1 104px; }

.registration-block1.layout {
  position: relative;
  min-height: 13px;
  flex-grow: 1;
  margin: 26px 0px 27px 80px; }
  @media (max-width: 1199px) {
    .registration-block1.layout {
      margin: 23px 0px 24px 68px; } }
  @media (max-width: 991px) {
    .registration-block1.layout {
      margin: 19px 0px 20px 54px; } }
  @media (max-width: 767px) {
    .registration-block1.layout {
      margin: 16px 0px 17px 43px; } }
  @media (max-width: 575px) {
    .registration-block1.layout {
      margin: 15px 0px 15px 37px; } }
  @media (max-width: 479px) {
    .registration-block1.layout {
      margin: 13px 0px 14px 31px; } }
  @media (max-width: 383px) {
    .registration-block1.layout {
      margin: 12px 0px 13px 28px; } }

.registration-block1 {
  display: flex;
  background: var(--src) center center/contain no-repeat;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.101961); }

.registration-content-box-spacer {
  flex: 0 1 8px; }

.registration-highlights.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 21px 0px 23px; }
  @media (max-width: 1199px) {
    .registration-highlights.layout {
      margin: 18px 0px 20px; } }
  @media (max-width: 991px) {
    .registration-highlights.layout {
      margin: 16px 0px 17px; } }
  @media (max-width: 767px) {
    .registration-highlights.layout {
      margin: 13px 0px 14px; } }
  @media (max-width: 575px) {
    .registration-highlights.layout {
      margin: 12px 0px 13px; } }
  @media (max-width: 479px) {
    .registration-highlights.layout {
      margin: 11px 0px 12px; } }
  @media (max-width: 383px) {
    .registration-highlights.layout {
      margin: 10px 0px 11px; } }

.registration-highlights {
  font: 700 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
  color: #232323;
  letter-spacing: -0.9px; }
  @media (max-width: 1199px) {
    .registration-highlights {
      font-size: 17px;
      text-align: left; } }
  @media (max-width: 991px) {
    .registration-highlights {
      font-size: 16px; } }
  @media (max-width: 767px) {
    .registration-highlights {
      font-size: 15px; } }
  @media (max-width: 479px) {
    .registration-highlights {
      font-size: 14px; } }

.registration-content-box-spacer1 {
  flex: 0 1 920px; }

.registration-text-body.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 23.5px 0px 25.5px; }
  @media (max-width: 1199px) {
    .registration-text-body.layout {
      margin: 21px 0px 22px; } }
  @media (max-width: 991px) {
    .registration-text-body.layout {
      margin: 17px 0px 19px; } }
  @media (max-width: 767px) {
    .registration-text-body.layout {
      margin: 15px 0px 16px; } }
  @media (max-width: 575px) {
    .registration-text-body.layout {
      margin: 13px 0px 15px; } }
  @media (max-width: 479px) {
    .registration-text-body.layout {
      margin: 12px 0px 13px; } }
  @media (max-width: 383px) {
    .registration-text-body.layout {
      margin: 11px 0px 12px; } }

.registration-text-body {
  display: flex;
  align-items: center;
  font: 14px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
  color: black;
  text-decoration: underline;
  letter-spacing: -0.56px; }
  @media (max-width: 991px) {
    .registration-text-body {
      font-size: 13px;
      text-align: left; } }
  @media (max-width: 575px) {
    .registration-text-body {
      font-size: 12px; } }

.registration-content-box-spacer2 {
  flex: 0 1 37px; }

.registration-content-box-item1 {
  display: flex;
  position: relative;
  flex: 0 1 249px; }

.registration-cover-block2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  flex-grow: 1;
  margin: 14px 80px 16px 0px; }
  @media (max-width: 1199px) {
    .registration-cover-block2.layout {
      margin: 12px 68px 14px 0px; } }
  @media (max-width: 991px) {
    .registration-cover-block2.layout {
      margin: 10px 54px 12px 0px; } }
  @media (max-width: 767px) {
    .registration-cover-block2.layout {
      margin: 9px 43px 10px 0px; } }
  @media (max-width: 575px) {
    .registration-cover-block2.layout {
      margin: 8px 37px 9px 0px; } }
  @media (max-width: 479px) {
    .registration-cover-block2.layout {
      margin: 7px 31px 8px 0px; } }
  @media (max-width: 383px) {
    .registration-cover-block2.layout {
      margin: 7px 28px 8px 0px; } }

.registration-cover-block2 {
  display: flex;
  background-color: #80d2dd;
  border-radius: 18px 18px 18px 18px; }

.registration-text-body1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 87px;
  min-width: 87px;
  margin: 9px auto 10px; }
  @media (max-width: 1199px) {
    .registration-text-body1.layout {
      margin: 9px auto; } }
  @media (max-width: 991px) {
    .registration-text-body1.layout {
      margin: 9px auto 7px; } }
  @media (max-width: 767px) {
    .registration-text-body1.layout {
      margin: 9px auto 6px; } }
  @media (max-width: 479px) {
    .registration-text-body1.layout {
      margin: 9px auto 5px; } }

.registration-text-body1 {
  display: flex;
  justify-content: flex-end;
  font: 14px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
  color: white;
  text-align: right;
  letter-spacing: 0px; }
  @media (max-width: 991px) {
    .registration-text-body1 {
      font-size: 13px;
      text-align: right; } }
  @media (max-width: 575px) {
    .registration-text-body1 {
      font-size: 12px; } }

.registration-flex.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 88.89%;
  margin: 94px auto 200px; }
  @media (max-width: 1399px) {
    .registration-flex.layout {
      width: 91.43%; } }
  @media (max-width: 1199px) {
    .registration-flex.layout {
      width: 93.43%;
      margin: 78px auto 158px; } }
  @media (max-width: 991px) {
    .registration-flex.layout {
      width: 94.99%;
      margin: 61px auto 113px; } }
  @media (max-width: 767px) {
    .registration-flex.layout {
      width: 96.2%;
      margin: 47px auto 74px; } }
  @media (max-width: 575px) {
    .registration-flex.layout {
      width: 97.12%;
      margin: 39px auto 54px; } }
  @media (max-width: 479px) {
    .registration-flex.layout {
      width: 97.82%;
      margin: 32px auto 35px; } }
  @media (max-width: 383px) {
    .registration-flex.layout {
      width: 98.36%;
      margin: 27px auto 22px; } }

.registration-flex {
  display: flex; }

.registration-flex-item {
  display: flex;
  position: relative;
  flex: 0 1 474px; }

.registration-flex1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  flex-grow: 1;
  margin: 130px 0px 120px; }
  @media (max-width: 1199px) {
    .registration-flex1.layout {
      margin: 105px 0px 98px; } }
  @media (max-width: 991px) {
    .registration-flex1.layout {
      margin: 79px 0px 74px; } }
  @media (max-width: 767px) {
    .registration-flex1.layout {
      margin: 56px 0px 53px; } }
  @media (max-width: 575px) {
    .registration-flex1.layout {
      margin: 44px 0px 43px; } }
  @media (max-width: 479px) {
    .registration-flex1.layout {
      margin: 33px 0px; } }
  @media (max-width: 383px) {
    .registration-flex1.layout {
      margin: 25px 0px 26px; } }

.registration-flex1 {
  display: flex;
  flex-direction: column; }

.registration-hero-title.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.registration-hero-title {
  font: 700 48px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
  color: #232323;
  letter-spacing: -1.92px; }
  @media (max-width: 1199px) {
    .registration-hero-title {
      font-size: 43px;
      text-align: left; } }
  @media (max-width: 991px) {
    .registration-hero-title {
      font-size: 37px; } }
  @media (max-width: 767px) {
    .registration-hero-title {
      font-size: 32px; } }
  @media (max-width: 575px) {
    .registration-hero-title {
      font-size: 30px; } }
  @media (max-width: 479px) {
    .registration-hero-title {
      font-size: 27px; } }
  @media (max-width: 383px) {
    .registration-hero-title {
      font-size: 25px; } }

.registration-cover-block1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 52.74%;
  margin: 67px 47.26% 0px 0%; }
  @media (max-width: 1199px) {
    .registration-cover-block1.layout {
      margin: 58px 47.26% 0px 0%; } }
  @media (max-width: 991px) {
    .registration-cover-block1.layout {
      margin: 47px 47.26% 0px 0%; } }
  @media (max-width: 767px) {
    .registration-cover-block1.layout {
      margin: 38px 47.26% 0px 0%; } }
  @media (max-width: 575px) {
    .registration-cover-block1.layout {
      margin: 34px 47.26% 0px 0%; } }
  @media (max-width: 479px) {
    .registration-cover-block1.layout {
      margin: 30px 47.26% 0px 0%; } }
  @media (max-width: 383px) {
    .registration-cover-block1.layout {
      margin: 27px 47.26% 0px 0%; } }

.registration-cover-block1 {
  display: flex;
  background-color: #80d2dd;
  border-radius: 20px 20px 20px 20px; }

.registration-highlights1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  flex-grow: 1;
  margin: 12px 37px 16px; }
  @media (max-width: 1199px) {
    .registration-highlights1.layout {
      margin: 11px 32px 14px; } }
  @media (max-width: 991px) {
    .registration-highlights1.layout {
      margin: 9px 27px 12px; } }
  @media (max-width: 767px) {
    .registration-highlights1.layout {
      margin: 8px 22px 10px; } }
  @media (max-width: 575px) {
    .registration-highlights1.layout {
      margin: 7px 20px 9px; } }
  @media (max-width: 479px) {
    .registration-highlights1.layout {
      margin: 6px 18px 8px; } }
  @media (max-width: 383px) {
    .registration-highlights1.layout {
      margin: 6px 16px 8px; } }

.registration-highlights1 {
  display: flex;
  justify-content: flex-end;
  font: 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
  color: white;
  text-align: right;
  letter-spacing: 0px; }
  @media (max-width: 1199px) {
    .registration-highlights1 {
      font-size: 17px;
      text-align: right; } }
  @media (max-width: 991px) {
    .registration-highlights1 {
      font-size: 16px; } }
  @media (max-width: 767px) {
    .registration-highlights1 {
      font-size: 15px; } }
  @media (max-width: 479px) {
    .registration-highlights1 {
      font-size: 14px; } }

.registration-flex-spacer {
  flex: 0 1 86px; }

.registration-flex-item1 {
  display: flex;
  position: relative;
  flex: 0 1 720px; }

.registration-cover-block.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  flex-grow: 1; }

.registration-cover-block {
  display: flex;
  background-color: white;
  border-radius: 20px 20px 20px 20px; }

.registration-image1.layout {
  position: relative;
  height: 508px;
  flex-grow: 1;
  margin: 16px 21px; }
  @media (max-width: 1199px) {
    .registration-image1.layout {
      margin: 14px 18px; } }
  @media (max-width: 991px) {
    .registration-image1.layout {
      margin: 12px 16px; } }
  @media (max-width: 767px) {
    .registration-image1.layout {
      margin: 10px 13px; } }
  @media (max-width: 575px) {
    .registration-image1.layout {
      margin: 9px 12px; } }
  @media (max-width: 479px) {
    .registration-image1.layout {
      margin: 8px 11px; } }
  @media (max-width: 383px) {
    .registration-image1.layout {
      margin: 8px 10px; } }

.registration-image1 {
  background: var(--src) center center/contain no-repeat;
  border-radius: 20px 20px 20px 20px; }
