[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-jazzmin = "*"
psycopg2 = "*"
python-dotenv = "*"
pandas = "*"
openpyxl = "*"
scikit-learn = "*"
pymorphy2 = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.10"
