/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.recomendation-result-main.layout {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
}

.recomendation-result-main {
    display: flex;
    flex-direction: column;
    background-color: #f9fbfc;
}

.results_section_container.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
}

.results_section_container {
    display: flex;
    flex-direction: column;
}

.navbar_box.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
}

.navbar_box {
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.0627451);
}

.navbar_box_item {
    display: flex;
    position: relative;
    flex: 0 1 104px;
}

.navbar_arrows.layout {
    position: relative;
    min-height: 13px;
    flex-grow: 1;
    margin: 26px 0px 27px 80px;
}

@media (max-width: 1199px) {
    .navbar_arrows.layout {
        margin: 23px 0px 24px 68px;
    }
}

@media (max-width: 991px) {
    .navbar_arrows.layout {
        margin: 19px 0px 20px 54px;
    }
}

@media (max-width: 767px) {
    .navbar_arrows.layout {
        margin: 16px 0px 17px 43px;
    }
}

@media (max-width: 575px) {
    .navbar_arrows.layout {
        margin: 15px 0px 15px 37px;
    }
}

@media (max-width: 479px) {
    .navbar_arrows.layout {
        margin: 13px 0px 14px 31px;
    }
}

@media (max-width: 383px) {
    .navbar_arrows.layout {
        margin: 12px 0px 13px 28px;
    }
}

.navbar_arrows {
    display: flex;
    background: var(--src) center center/contain no-repeat;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.101961);
}

.navbar_spacer {
    flex: 0 1 8px;
}

.navbar_title.layout {
    position: relative;
    flex: 0 0 auto;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 21px 0px 23px;
}

@media (max-width: 1199px) {
    .navbar_title.layout {
        margin: 18px 0px 20px;
    }
}

@media (max-width: 991px) {
    .navbar_title.layout {
        margin: 16px 0px 17px;
    }
}

@media (max-width: 767px) {
    .navbar_title.layout {
        margin: 13px 0px 14px;
    }
}

@media (max-width: 575px) {
    .navbar_title.layout {
        margin: 12px 0px 13px;
    }
}

@media (max-width: 479px) {
    .navbar_title.layout {
        margin: 11px 0px 12px;
    }
}

@media (max-width: 383px) {
    .navbar_title.layout {
        margin: 10px 0px 11px;
    }
}

.navbar_title {
    font: 700 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    color: #232323;
    letter-spacing: -0.9px;
}

@media (max-width: 1199px) {
    .navbar_title {
        font-size: 17px;
        text-align: left;
    }
}

@media (max-width: 991px) {
    .navbar_title {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .navbar_title {
        font-size: 15px;
    }
}

@media (max-width: 479px) {
    .navbar_title {
        font-size: 14px;
    }
}

.navbar_long_spacer {
    flex: 0 1 1037px;
}

.navbar_profile_name.layout {
    position: relative;
    flex: 0 0 auto;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 23.5px 0px 25.5px;
}

@media (max-width: 1199px) {
    .navbar_profile_name.layout {
        margin: 21px 0px 22px;
    }
}

@media (max-width: 991px) {
    .navbar_profile_name.layout {
        margin: 17px 0px 19px;
    }
}

@media (max-width: 767px) {
    .navbar_profile_name.layout {
        margin: 15px 0px 16px;
    }
}

@media (max-width: 575px) {
    .navbar_profile_name.layout {
        margin: 13px 0px 15px;
    }
}

@media (max-width: 479px) {
    .navbar_profile_name.layout {
        margin: 12px 0px 13px;
    }
}

@media (max-width: 383px) {
    .navbar_profile_name.layout {
        margin: 11px 0px 12px;
    }
}

.navbar_profile_name {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font: 14px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    color: black;
    text-align: right;
    letter-spacing: -0.56px;
}

@media (max-width: 991px) {
    .navbar_profile_name {
        font-size: 13px;
        text-align: right;
    }
}

@media (max-width: 575px) {
    .navbar_profile_name {
        font-size: 12px;
    }
}

.navbar_spacer_3 {
    flex: 0 1 15px;
}

.navbar_avatar_box {
    display: flex;
    position: relative;
    flex: 0 1 110px;
}

.navbar_avatar.layout {
    position: relative;
    height: 30px;
    flex-grow: 1;
    margin: 17px 80px 19px 0px;
}

@media (max-width: 1199px) {
    .navbar_avatar.layout {
        margin: 15px 68px 17px 0px;
    }
}

@media (max-width: 991px) {
    .navbar_avatar.layout {
        margin: 13px 54px 14px 0px;
    }
}

@media (max-width: 767px) {
    .navbar_avatar.layout {
        margin: 11px 43px 12px 0px;
    }
}

@media (max-width: 575px) {
    .navbar_avatar.layout {
        margin: 10px 37px 11px 0px;
    }
}

@media (max-width: 479px) {
    .navbar_avatar.layout {
        margin: 9px 31px 10px 0px;
    }
}

@media (max-width: 383px) {
    .navbar_avatar.layout {
        margin: 8px 28px 9px 0px;
    }
}

.navbar_avatar {
    display: flex;
    background: var(--src) center center/contain no-repeat;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.121569);
}

.recomendation-result-section1__icon.layout {
    position: relative;
    height: 30px;
    width: 30px;
    min-width: 30px;
}

.recomendation-result-section1__icon {
    background: var(--src) center center/contain no-repeat;
}

.results_section_group.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 88.89%;
    margin: 84px auto 88px;
}

@media (max-width: 1399px) {
    .results_section_group.layout {
        width: 91.43%;
    }
}

@media (max-width: 1199px) {
    .results_section_group.layout {
        width: 93.43%;
        margin: 71px auto 74px;
    }
}

@media (max-width: 991px) {
    .results_section_group.layout {
        width: 94.99%;
        margin: 56px auto 58px;
    }
}

@media (max-width: 767px) {
    .results_section_group.layout {
        width: 96.2%;
        margin: 44px auto 45px;
    }
}

@media (max-width: 575px) {
    .results_section_group.layout {
        width: 97.12%;
        margin: 38px auto;
    }
}

@media (max-width: 479px) {
    .results_section_group.layout {
        width: 97.82%;
        margin: 32px auto;
    }
}

@media (max-width: 383px) {
    .results_section_group.layout {
        width: 98.36%;
        margin: 27px auto;
    }
}

.results_section_group {
    display: flex;
}

.results_goal_image.layout {
    position: absolute;
    z-index: 1;
    top: 19px;
    height: 412px;
    width: 660px;
    right: 10px;
}

.results_goal_image {
    background: var(--src) center center/contain no-repeat;
    border-radius: 20px 20px 20px 20px;
}

.results_goal_group.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 100%;
    margin: 0px auto;
}

.results_goal_group {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.0627451);
    border-radius: 20px 20px 20px 20px;
}

.results_goal_header.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 90.63%;
    margin: 50px auto 0px;
}

@media (max-width: 1199px) {
    .results_goal_header.layout {
        width: 92.8%;
        margin: 43px auto 0px;
    }
}

@media (max-width: 991px) {
    .results_goal_header.layout {
        width: 94.5%;
        margin: 35px auto 0px;
    }
}

@media (max-width: 767px) {
    .results_goal_header.layout {
        width: 95.82%;
        margin: 28px auto 0px;
    }
}

@media (max-width: 575px) {
    .results_goal_header.layout {
        width: 96.83%;
        margin: 24px auto 0px;
    }
}

@media (max-width: 479px) {
    .results_goal_header.layout {
        width: 97.61%;
        margin: 21px auto 0px;
    }
}

@media (max-width: 383px) {
    .results_goal_header.layout {
        width: 98.19%;
        margin: 19px auto 0px;
    }
}

.results_goal_header {
    font: 500 24px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    color: #232323;
    letter-spacing: -0.96px;
}

@media (max-width: 1199px) {
    .results_goal_header {
        font-size: 22px;
        text-align: left;
    }
}

@media (max-width: 991px) {
    .results_goal_header {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .results_goal_header {
        font-size: 19px;
    }
}

@media (max-width: 575px) {
    .results_goal_header {
        font-size: 18px;
    }
}

@media (max-width: 479px) {
    .results_goal_header {
        font-size: 17px;
    }
}

@media (max-width: 383px) {
    .results_goal_header {
        font-size: 16px;
    }
}

.results_title.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 39.38%;
    margin: 31px 55.94% 0px 4.69%;
}

@media (max-width: 1199px) {
    .results_title.layout {
        margin: 27px 55.94% 0px 4.69%;
    }
}

@media (max-width: 991px) {
    .results_title.layout {
        margin: 23px 55.94% 0px 4.69%;
    }
}

@media (max-width: 767px) {
    .results_title.layout {
        margin: 19px 55.94% 0px 4.69%;
    }
}

@media (max-width: 575px) {
    .results_title.layout {
        margin: 18px 55.94% 0px 4.69%;
    }
}

@media (max-width: 479px) {
    .results_title.layout {
        margin: 16px 55.94% 0px 4.69%;
    }
}

@media (max-width: 383px) {
    .results_title.layout {
        margin: 15px 55.94% 0px 4.69%;
    }
}

.results_title {
    font: 700 48px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    color: #232323;
    letter-spacing: -1.92px;
}

@media (max-width: 1199px) {
    .results_title {
        font-size: 43px;
        text-align: left;
    }
}

@media (max-width: 991px) {
    .results_title {
        font-size: 37px;
    }
}

@media (max-width: 767px) {
    .results_title {
        font-size: 32px;
    }
}

@media (max-width: 575px) {
    .results_title {
        font-size: 30px;
    }
}

@media (max-width: 479px) {
    .results_title {
        font-size: 27px;
    }
}

@media (max-width: 383px) {
    .results_title {
        font-size: 25px;
    }
}

.results_goal_button.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 26.17%;
    margin: 104px 69.14% 50px 4.69%;
}

@media (max-width: 1199px) {
    .results_goal_button.layout {
        margin: 86px 69.14% 43px 4.69%;
    }
}

@media (max-width: 991px) {
    .results_goal_button.layout {
        margin: 66px 69.14% 35px 4.69%;
    }
}

@media (max-width: 767px) {
    .results_goal_button.layout {
        margin: 49px 69.14% 28px 4.69%;
    }
}

@media (max-width: 575px) {
    .results_goal_button.layout {
        margin: 41px 69.14% 24px 4.69%;
    }
}

@media (max-width: 479px) {
    .results_goal_button.layout {
        margin: 32px 69.14% 21px 4.69%;
    }
}

@media (max-width: 383px) {
    .results_goal_button.layout {
        margin: 26px 69.14% 19px 4.69%;
    }
}

.results_goal_button {
    display: flex;
    background-color: #80d2dd;
    border-radius: 20px 20px 20px 20px;
}

.results_goal_button_text.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 74.93%;
    margin: 13px auto 15px;
}

@media (max-width: 1199px) {
    .results_goal_button_text.layout {
        margin: 11px auto 13px;
    }
}

@media (max-width: 991px) {
    .results_goal_button_text.layout {
        margin: 10px auto 11px;
    }
}

@media (max-width: 767px) {
    .results_goal_button_text.layout {
        margin: 8px auto 9px;
    }
}

@media (max-width: 575px) {
    .results_goal_button_text.layout {
        margin: 7px auto 9px;
    }
}

@media (max-width: 479px) {
    .results_goal_button_text.layout {
        margin: 7px auto 8px;
    }
}

@media (max-width: 383px) {
    .results_goal_button_text.layout {
        margin: 6px auto 7px;
    }
}

.results_goal_button_text {
    font: 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    color: white;
    letter-spacing: 0px;
}

@media (max-width: 1199px) {
    .results_goal_button_text {
        font-size: 17px;
        text-align: left;
    }
}

@media (max-width: 991px) {
    .results_goal_button_text {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .results_goal_button_text {
        font-size: 15px;
    }
}

@media (max-width: 479px) {
    .results_goal_button_text {
        font-size: 14px;
    }
}

.recommendation_container.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
}

.recommendation_container {
    display: flex;
}

.recommendation_flex.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 88.89%;
    margin: 62px auto;
}

@media (max-width: 1399px) {
    .recommendation_flex.layout {
        width: 91.43%;
    }
}

@media (max-width: 1199px) {
    .recommendation_flex.layout {
        width: 93.43%;
        margin: 53px auto;
    }
}

@media (max-width: 991px) {
    .recommendation_flex.layout {
        width: 94.99%;
        margin: 44px auto;
    }
}

@media (max-width: 767px) {
    .recommendation_flex.layout {
        width: 96.2%;
        margin: 35px auto;
    }
}

@media (max-width: 575px) {
    .recommendation_flex.layout {
        width: 97.12%;
        margin: 31px auto;
    }
}

@media (max-width: 479px) {
    .recommendation_flex.layout {
        width: 97.82%;
        margin: 27px auto;
    }
}

@media (max-width: 383px) {
    .recommendation_flex.layout {
        width: 98.36%;
        margin: 24px auto;
    }
}

.recommendation_flex {
    display: flex;
    flex-direction: column;
}

.recommendations_title.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
}

.recommendations_title {
    font: 700 48px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    color: #232323;
    letter-spacing: -1.92px;
}

@media (max-width: 1199px) {
    .recommendations_title {
        font-size: 43px;
        text-align: left;
    }
}

@media (max-width: 991px) {
    .recommendations_title {
        font-size: 37px;
    }
}

@media (max-width: 767px) {
    .recommendations_title {
        font-size: 32px;
    }
}

@media (max-width: 575px) {
    .recommendations_title {
        font-size: 30px;
    }
}

@media (max-width: 479px) {
    .recommendations_title {
        font-size: 27px;
    }
}

@media (max-width: 383px) {
    .recommendations_title {
        font-size: 25px;
    }
}

.recommendation_row_title.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 52px 0px 0px;
}

@media (max-width: 1199px) {
    .recommendation_row_title.layout {
        margin: 44px 0px 0px;
    }
}

@media (max-width: 991px) {
    .recommendation_row_title.layout {
        margin: 36px 0px 0px;
    }
}

@media (max-width: 767px) {
    .recommendation_row_title.layout {
        margin: 29px 0px 0px;
    }
}

@media (max-width: 575px) {
    .recommendation_row_title.layout {
        margin: 25px 0px 0px;
    }
}

@media (max-width: 479px) {
    .recommendation_row_title.layout {
        margin: 22px 0px 0px;
    }
}

@media (max-width: 383px) {
    .recommendation_row_title.layout {
        margin: 20px 0px 0px;
    }
}

.recommendation_row_title {
    font: 500 36px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    color: #232323;
    letter-spacing: -1.44px;
}

@media (max-width: 1199px) {
    .recommendation_row_title {
        font-size: 32px;
        text-align: left;
    }
}

@media (max-width: 991px) {
    .recommendation_row_title {
        font-size: 29px;
    }
}

@media (max-width: 767px) {
    .recommendation_row_title {
        font-size: 25px;
    }
}

@media (max-width: 575px) {
    .recommendation_row_title {
        font-size: 24px;
    }
}

@media (max-width: 479px) {
    .recommendation_row_title {
        font-size: 22px;
    }
}

@media (max-width: 383px) {
    .recommendation_row_title {
        font-size: 21px;
    }
}

.recommendations_row.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 41px 0px 0px;
}

@media (max-width: 1199px) {
    .recommendations_row.layout {
        margin: 35px 0px 0px;
    }
}

@media (max-width: 991px) {
    .recommendations_row.layout {
        margin: 29px 0px 0px;
    }
}

@media (max-width: 767px) {
    .recommendations_row.layout {
        margin: 24px 0px 0px;
    }
}

@media (max-width: 575px) {
    .recommendations_row.layout {
        margin: 21px 0px 0px;
    }
}

@media (max-width: 479px) {
    .recommendations_row.layout {
        margin: 19px 0px 0px;
    }
}

@media (max-width: 383px) {
    .recommendations_row.layout {
        margin: 17px 0px 0px;
    }
}

.recommendations_row {
    display: flex;
}

@media (max-width: 1199px) {
    .recommendations_row {
        flex-wrap: wrap;
        row-gap: 16px;
    }
}

.recomendation-result-section2__flex1-item {
    display: flex;
    position: relative;
    flex: 1 1 380px;
}

@media (max-width: 1199px) {
    .recomendation-result-section2__flex1-item {
        flex: 0 0 100%;
    }
}

.recommendation_card_group.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    flex-grow: 1;
}

.recommendation_card_group {
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.0627451);
    border-radius: 20px 20px 20px 20px;
}

.recomendation-result-section2__flex2.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    flex-grow: 1;
    margin: 40px 30px;
}

@media (max-width: 1199px) {
    .recomendation-result-section2__flex2.layout {
        margin: 35px 26px;
    }
}

@media (max-width: 991px) {
    .recomendation-result-section2__flex2.layout {
        margin: 29px 22px;
    }
}

@media (max-width: 767px) {
    .recomendation-result-section2__flex2.layout {
        margin: 24px 19px;
    }
}

@media (max-width: 575px) {
    .recomendation-result-section2__flex2.layout {
        margin: 21px 17px;
    }
}

@media (max-width: 479px) {
    .recomendation-result-section2__flex2.layout {
        margin: 19px 15px;
    }
}

@media (max-width: 383px) {
    .recomendation-result-section2__flex2.layout {
        margin: 17px 14px;
    }
}

.recomendation-result-section2__flex2 {
    display: flex;
    flex-direction: column;
}

.recommendation_card_title.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
}

.recommendation_card_title {
    font: 500 24px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    color: #232323;
    letter-spacing: -1.2px;
}

@media (max-width: 1199px) {
    .recommendation_card_title {
        font-size: 22px;
        text-align: left;
    }
}

@media (max-width: 991px) {
    .recommendation_card_title {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .recommendation_card_title {
        font-size: 19px;
    }
}

@media (max-width: 575px) {
    .recommendation_card_title {
        font-size: 18px;
    }
}

@media (max-width: 479px) {
    .recommendation_card_title {
        font-size: 17px;
    }
}

@media (max-width: 383px) {
    .recommendation_card_title {
        font-size: 16px;
    }
}

.recomendation-result-section2__highlights-box.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 31px 10px 66px 0px;
}

@media (max-width: 1199px) {
    .recomendation-result-section2__highlights-box.layout {
        margin: 27px 9px 57px 0px;
    }
}

@media (max-width: 991px) {
    .recomendation-result-section2__highlights-box.layout {
        margin: 23px 7px 47px 0px;
    }
}

@media (max-width: 767px) {
    .recomendation-result-section2__highlights-box.layout {
        margin: 19px 6px 38px 0px;
    }
}

@media (max-width: 575px) {
    .recomendation-result-section2__highlights-box.layout {
        margin: 18px 6px 33px 0px;
    }
}

@media (max-width: 479px) {
    .recomendation-result-section2__highlights-box.layout {
        margin: 16px 5px 29px 0px;
    }
}

@media (max-width: 383px) {
    .recomendation-result-section2__highlights-box.layout {
        margin: 15px 5px 26px 0px;
    }
}

@media (max-width: 1199px) {
    .recomendation-result-section2__highlights-box {
        align-items: flex-start;
        justify-content: flex-start;
    }
}

@media (max-width: 991px) {
    .recomendation-result-section2__highlights-box {
        align-items: flex-start;
        justify-content: flex-start;
    }
}

@media (max-width: 767px) {
    .recomendation-result-section2__highlights-box {
        align-items: flex-start;
        justify-content: flex-start;
    }
}

@media (max-width: 479px) {
    .recomendation-result-section2__highlights-box {
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.recomendation-result-section2__highlights {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    font: 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    color: black;
    letter-spacing: -0.9px;
    white-space: pre-wrap;
}

@media (max-width: 1199px) {
    .recomendation-result-section2__highlights {
        font-size: 17px;
        text-align: left;
    }
}

@media (max-width: 991px) {
    .recomendation-result-section2__highlights {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .recomendation-result-section2__highlights {
        font-size: 15px;
    }
}

@media (max-width: 479px) {
    .recomendation-result-section2__highlights {
        font-size: 14px;
    }
}

.recommendation_row_spacer {
    flex: 0 1 30px;
}

@media (max-width: 1199px) {
    .recommendation_row_spacer {
        display: none;
    }
}

.recommendation_card_flex.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    flex-grow: 1;
    margin: 40px 18px;
}

@media (max-width: 1199px) {
    .recommendation_card_flex.layout {
        margin: 35px 16px;
    }
}

@media (max-width: 991px) {
    .recommendation_card_flex.layout {
        margin: 29px 13px;
    }
}

@media (max-width: 767px) {
    .recommendation_card_flex.layout {
        margin: 24px 11px;
    }
}

@media (max-width: 575px) {
    .recommendation_card_flex.layout {
        margin: 21px 10px;
    }
}

@media (max-width: 479px) {
    .recommendation_card_flex.layout {
        margin: 19px 9px;
    }
}

@media (max-width: 383px) {
    .recommendation_card_flex.layout {
        margin: 17px 9px;
    }
}

.recommendation_card_flex {
    display: flex;
    flex-direction: column;
}

.recommendation_card_title.layout1 {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 0px 0px 0px 12px;
}

@media (max-width: 1199px) {
    .recommendation_card_title.layout1 {
        margin: 0px 0px 0px 11px;
    }
}

@media (max-width: 991px) {
    .recommendation_card_title.layout1 {
        margin: 0px 0px 0px 9px;
    }
}

@media (max-width: 767px) {
    .recommendation_card_title.layout1 {
        margin: 0px 0px 0px 8px;
    }
}

@media (max-width: 575px) {
    .recommendation_card_title.layout1 {
        margin: 0px 0px 0px 7px;
    }
}

@media (max-width: 479px) {
    .recommendation_card_title.layout1 {
        margin: 0px 0px 0px 6px;
    }
}

.recomendation-result-section2__highlights1.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 32px 22px 15px 12px;
}

@media (max-width: 1199px) {
    .recomendation-result-section2__highlights1.layout {
        margin: 28px 19px 13px 11px;
    }
}

@media (max-width: 991px) {
    .recomendation-result-section2__highlights1.layout {
        margin: 24px 16px 11px 9px;
    }
}

@media (max-width: 767px) {
    .recomendation-result-section2__highlights1.layout {
        margin: 20px 14px 9px 8px;
    }
}

@media (max-width: 575px) {
    .recomendation-result-section2__highlights1.layout {
        margin: 18px 13px 9px 7px;
    }
}

@media (max-width: 479px) {
    .recomendation-result-section2__highlights1.layout {
        margin: 16px 11px 8px 6px;
    }
}

@media (max-width: 383px) {
    .recomendation-result-section2__highlights1.layout {
        margin: 15px 10px 7px 6px;
    }
}

.recomendation-result-section2__highlights1 {
    font: 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    color: black;
    letter-spacing: -0.9px;
}

@media (max-width: 1199px) {
    .recomendation-result-section2__highlights1 {
        font-size: 17px;
        text-align: left;
    }
}

@media (max-width: 991px) {
    .recomendation-result-section2__highlights1 {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .recomendation-result-section2__highlights1 {
        font-size: 15px;
    }
}

@media (max-width: 479px) {
    .recomendation-result-section2__highlights1 {
        font-size: 14px;
    }
}

.recomendation-result-section2__highlights2-box.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 31px 10px 66px 0px;
}

@media (max-width: 1199px) {
    .recomendation-result-section2__highlights2-box.layout {
        margin: 27px 9px 57px 0px;
    }
}

@media (max-width: 991px) {
    .recomendation-result-section2__highlights2-box.layout {
        margin: 23px 7px 47px 0px;
    }
}

@media (max-width: 767px) {
    .recomendation-result-section2__highlights2-box.layout {
        margin: 19px 6px 38px 0px;
    }
}

@media (max-width: 575px) {
    .recomendation-result-section2__highlights2-box.layout {
        margin: 18px 6px 33px 0px;
    }
}

@media (max-width: 479px) {
    .recomendation-result-section2__highlights2-box.layout {
        margin: 16px 5px 29px 0px;
    }
}

@media (max-width: 383px) {
    .recomendation-result-section2__highlights2-box.layout {
        margin: 15px 5px 26px 0px;
    }
}

@media (max-width: 1199px) {
    .recomendation-result-section2__highlights2-box {
        align-items: flex-start;
        justify-content: flex-start;
    }
}

@media (max-width: 991px) {
    .recomendation-result-section2__highlights2-box {
        align-items: flex-start;
        justify-content: flex-start;
    }
}

@media (max-width: 767px) {
    .recomendation-result-section2__highlights2-box {
        align-items: flex-start;
        justify-content: flex-start;
    }
}

@media (max-width: 479px) {
    .recomendation-result-section2__highlights2-box {
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.recommendation_row_title.layout1 {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 120px 0px 0px;
}

@media (max-width: 1199px) {
    .recommendation_row_title.layout1 {
        margin: 98px 0px 0px;
    }
}

@media (max-width: 991px) {
    .recommendation_row_title.layout1 {
        margin: 74px 0px 0px;
    }
}

@media (max-width: 767px) {
    .recommendation_row_title.layout1 {
        margin: 53px 0px 0px;
    }
}

@media (max-width: 575px) {
    .recommendation_row_title.layout1 {
        margin: 43px 0px 0px;
    }
}

@media (max-width: 479px) {
    .recommendation_row_title.layout1 {
        margin: 33px 0px 0px;
    }
}

@media (max-width: 383px) {
    .recommendation_row_title.layout1 {
        margin: 26px 0px 0px;
    }
}

.recomendation-result-section2__flex5.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 41px 0px 0px;
}

@media (max-width: 1199px) {
    .recomendation-result-section2__flex5.layout {
        margin: 35px 0px 0px;
    }
}

@media (max-width: 991px) {
    .recomendation-result-section2__flex5.layout {
        margin: 29px 0px 0px;
    }
}

@media (max-width: 767px) {
    .recomendation-result-section2__flex5.layout {
        margin: 24px 0px 0px;
    }
}

@media (max-width: 575px) {
    .recomendation-result-section2__flex5.layout {
        margin: 21px 0px 0px;
    }
}

@media (max-width: 479px) {
    .recomendation-result-section2__flex5.layout {
        margin: 19px 0px 0px;
    }
}

@media (max-width: 383px) {
    .recomendation-result-section2__flex5.layout {
        margin: 17px 0px 0px;
    }
}

.recomendation-result-section2__flex5 {
    display: flex;
}

@media (max-width: 1199px) {
    .recomendation-result-section2__flex5 {
        flex-wrap: wrap;
        row-gap: 16px;
    }
}

.recommendation_card {
    display: flex;
    position: relative;
    flex: 1 1 380px;
}

@media (max-width: 1199px) {
    .recommendation_card {
        flex: 0 0 100%;
    }
}

.recomendation-result-section2__flex5-spacer {
    flex: 0 1 30px;
}

@media (max-width: 1199px) {
    .recomendation-result-section2__flex5-spacer {
        display: none;
    }
}

.recommendation_card_title.layout2 {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 0px 0px 0px 12px;
}

@media (max-width: 1199px) {
    .recommendation_card_title.layout2 {
        margin: 0px 0px 0px 11px;
    }
}

@media (max-width: 991px) {
    .recommendation_card_title.layout2 {
        margin: 0px 0px 0px 9px;
    }
}

@media (max-width: 767px) {
    .recommendation_card_title.layout2 {
        margin: 0px 0px 0px 8px;
    }
}

@media (max-width: 575px) {
    .recommendation_card_title.layout2 {
        margin: 0px 0px 0px 7px;
    }
}

@media (max-width: 479px) {
    .recommendation_card_title.layout2 {
        margin: 0px 0px 0px 6px;
    }
}

.recommendation_card_text.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 32px 22px 15px 12px;
}

@media (max-width: 1199px) {
    .recommendation_card_text.layout {
        margin: 28px 19px 13px 11px;
    }
}

@media (max-width: 991px) {
    .recommendation_card_text.layout {
        margin: 24px 16px 11px 9px;
    }
}

@media (max-width: 767px) {
    .recommendation_card_text.layout {
        margin: 20px 14px 9px 8px;
    }
}

@media (max-width: 575px) {
    .recommendation_card_text.layout {
        margin: 18px 13px 9px 7px;
    }
}

@media (max-width: 479px) {
    .recommendation_card_text.layout {
        margin: 16px 11px 8px 6px;
    }
}

@media (max-width: 383px) {
    .recommendation_card_text.layout {
        margin: 15px 10px 7px 6px;
    }
}

.recommendation_card_text {
    font: 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    color: black;
    letter-spacing: -0.9px;
}

@media (max-width: 1199px) {
    .recommendation_card_text {
        font-size: 17px;
        text-align: left;
    }
}

@media (max-width: 991px) {
    .recommendation_card_text {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .recommendation_card_text {
        font-size: 15px;
    }
}

@media (max-width: 479px) {
    .recommendation_card_text {
        font-size: 14px;
    }
}

.recomendation-result-section2__highlights3-box.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 31px 10px 66px 0px;
}

@media (max-width: 1199px) {
    .recomendation-result-section2__highlights3-box.layout {
        margin: 27px 9px 57px 0px;
    }
}

@media (max-width: 991px) {
    .recomendation-result-section2__highlights3-box.layout {
        margin: 23px 7px 47px 0px;
    }
}

@media (max-width: 767px) {
    .recomendation-result-section2__highlights3-box.layout {
        margin: 19px 6px 38px 0px;
    }
}

@media (max-width: 575px) {
    .recomendation-result-section2__highlights3-box.layout {
        margin: 18px 6px 33px 0px;
    }
}

@media (max-width: 479px) {
    .recomendation-result-section2__highlights3-box.layout {
        margin: 16px 5px 29px 0px;
    }
}

@media (max-width: 383px) {
    .recomendation-result-section2__highlights3-box.layout {
        margin: 15px 5px 26px 0px;
    }
}

@media (max-width: 1199px) {
    .recomendation-result-section2__highlights3-box {
        align-items: flex-start;
        justify-content: flex-start;
    }
}

@media (max-width: 991px) {
    .recomendation-result-section2__highlights3-box {
        align-items: flex-start;
        justify-content: flex-start;
    }
}

@media (max-width: 767px) {
    .recomendation-result-section2__highlights3-box {
        align-items: flex-start;
        justify-content: flex-start;
    }
}

@media (max-width: 479px) {
    .recomendation-result-section2__highlights3-box {
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.recommendation_row_title.layout2 {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 120px 0px 0px;
}

@media (max-width: 1199px) {
    .recommendation_row_title.layout2 {
        margin: 98px 0px 0px;
    }
}

@media (max-width: 991px) {
    .recommendation_row_title.layout2 {
        margin: 74px 0px 0px;
    }
}

@media (max-width: 767px) {
    .recommendation_row_title.layout2 {
        margin: 53px 0px 0px;
    }
}

@media (max-width: 575px) {
    .recommendation_row_title.layout2 {
        margin: 43px 0px 0px;
    }
}

@media (max-width: 479px) {
    .recommendation_row_title.layout2 {
        margin: 33px 0px 0px;
    }
}

@media (max-width: 383px) {
    .recommendation_row_title.layout2 {
        margin: 26px 0px 0px;
    }
}

.recomendation-result-section2__group.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 41px 0px 238px;
}

@media (max-width: 1199px) {
    .recomendation-result-section2__group.layout {
        margin: 35px 0px 187px;
    }
}

@media (max-width: 991px) {
    .recomendation-result-section2__group.layout {
        margin: 29px 0px 131px;
    }
}

@media (max-width: 767px) {
    .recomendation-result-section2__group.layout {
        margin: 24px 0px 84px;
    }
}

@media (max-width: 575px) {
    .recomendation-result-section2__group.layout {
        margin: 21px 0px 60px;
    }
}

@media (max-width: 479px) {
    .recomendation-result-section2__group.layout {
        margin: 19px 0px 36px;
    }
}

@media (max-width: 383px) {
    .recomendation-result-section2__group.layout {
        margin: 17px 0px 20px;
    }
}

.recomendation-result-section2__group {
    display: flex;
}

.recomendation-result-section2__flex9.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    flex-grow: 1;
}

.recomendation-result-section2__flex9 {
    display: flex;
}

@media (max-width: 1199px) {
    .recomendation-result-section2__flex9 {
        flex-wrap: wrap;
        row-gap: 16px;
    }
}

.recomendation-result-section2__flex9-item {
    display: flex;
    position: relative;
    flex: 1 1 380px;
}

@media (max-width: 1199px) {
    .recomendation-result-section2__flex9-item {
        flex: 0 0 100%;
    }
}

.recommendation_card_title.layout3 {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 0px 0px 0px 12px;
}

@media (max-width: 1199px) {
    .recommendation_card_title.layout3 {
        margin: 0px 0px 0px 11px;
    }
}

@media (max-width: 991px) {
    .recommendation_card_title.layout3 {
        margin: 0px 0px 0px 9px;
    }
}

@media (max-width: 767px) {
    .recommendation_card_title.layout3 {
        margin: 0px 0px 0px 8px;
    }
}

@media (max-width: 575px) {
    .recommendation_card_title.layout3 {
        margin: 0px 0px 0px 7px;
    }
}

@media (max-width: 479px) {
    .recommendation_card_title.layout3 {
        margin: 0px 0px 0px 6px;
    }
}

.recomendation-result-section2__highlights3.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 32px 22px 15px 12px;
}

@media (max-width: 1199px) {
    .recomendation-result-section2__highlights3.layout {
        margin: 28px 19px 13px 11px;
    }
}

@media (max-width: 991px) {
    .recomendation-result-section2__highlights3.layout {
        margin: 24px 16px 11px 9px;
    }
}

@media (max-width: 767px) {
    .recomendation-result-section2__highlights3.layout {
        margin: 20px 14px 9px 8px;
    }
}

@media (max-width: 575px) {
    .recomendation-result-section2__highlights3.layout {
        margin: 18px 13px 9px 7px;
    }
}

@media (max-width: 479px) {
    .recomendation-result-section2__highlights3.layout {
        margin: 16px 11px 8px 6px;
    }
}

@media (max-width: 383px) {
    .recomendation-result-section2__highlights3.layout {
        margin: 15px 10px 7px 6px;
    }
}

.recomendation-result-section2__highlights3 {
    font: 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    color: black;
    letter-spacing: -0.9px;
}

@media (max-width: 1199px) {
    .recomendation-result-section2__highlights3 {
        font-size: 17px;
        text-align: left;
    }
}

@media (max-width: 991px) {
    .recomendation-result-section2__highlights3 {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .recomendation-result-section2__highlights3 {
        font-size: 15px;
    }
}

@media (max-width: 479px) {
    .recomendation-result-section2__highlights3 {
        font-size: 14px;
    }
}

.recomendation-result-section2__flex9-spacer {
    flex: 0 1 30px;
}

@media (max-width: 1199px) {
    .recomendation-result-section2__flex9-spacer {
        display: none;
    }
}

.recommendation_card_title.layout4 {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 0px 0px 0px 12px;
}

@media (max-width: 1199px) {
    .recommendation_card_title.layout4 {
        margin: 0px 0px 0px 11px;
    }
}

@media (max-width: 991px) {
    .recommendation_card_title.layout4 {
        margin: 0px 0px 0px 9px;
    }
}

@media (max-width: 767px) {
    .recommendation_card_title.layout4 {
        margin: 0px 0px 0px 8px;
    }
}

@media (max-width: 575px) {
    .recommendation_card_title.layout4 {
        margin: 0px 0px 0px 7px;
    }
}

@media (max-width: 479px) {
    .recommendation_card_title.layout4 {
        margin: 0px 0px 0px 6px;
    }
}

.recomendation-result-section2__highlights4.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 32px 22px 36px 12px;
}

@media (max-width: 1199px) {
    .recomendation-result-section2__highlights4.layout {
        margin: 28px 19px 31px 11px;
    }
}

@media (max-width: 991px) {
    .recomendation-result-section2__highlights4.layout {
        margin: 24px 16px 26px 9px;
    }
}

@media (max-width: 767px) {
    .recomendation-result-section2__highlights4.layout {
        margin: 20px 14px 22px 8px;
    }
}

@media (max-width: 575px) {
    .recomendation-result-section2__highlights4.layout {
        margin: 18px 13px 20px 7px;
    }
}

@media (max-width: 479px) {
    .recomendation-result-section2__highlights4.layout {
        margin: 16px 11px 17px 6px;
    }
}

@media (max-width: 383px) {
    .recomendation-result-section2__highlights4.layout {
        margin: 15px 10px 16px 6px;
    }
}

.recomendation-result-section2__highlights4 {
    font: 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    color: black;
    letter-spacing: -0.9px;
}

@media (max-width: 1199px) {
    .recomendation-result-section2__highlights4 {
        font-size: 17px;
        text-align: left;
    }
}

@media (max-width: 991px) {
    .recomendation-result-section2__highlights4 {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .recomendation-result-section2__highlights4 {
        font-size: 15px;
    }
}

@media (max-width: 479px) {
    .recomendation-result-section2__highlights4 {
        font-size: 14px;
    }
}

.recommendation_card_title.layout5 {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 0px 0px 0px 12px;
}

@media (max-width: 1199px) {
    .recommendation_card_title.layout5 {
        margin: 0px 0px 0px 11px;
    }
}

@media (max-width: 991px) {
    .recommendation_card_title.layout5 {
        margin: 0px 0px 0px 9px;
    }
}

@media (max-width: 767px) {
    .recommendation_card_title.layout5 {
        margin: 0px 0px 0px 8px;
    }
}

@media (max-width: 575px) {
    .recommendation_card_title.layout5 {
        margin: 0px 0px 0px 7px;
    }
}

@media (max-width: 479px) {
    .recommendation_card_title.layout5 {
        margin: 0px 0px 0px 6px;
    }
}

.recomendation-result-section2__highlights5.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 32px 22px 15px 12px;
}

@media (max-width: 1199px) {
    .recomendation-result-section2__highlights5.layout {
        margin: 28px 19px 13px 11px;
    }
}

@media (max-width: 991px) {
    .recomendation-result-section2__highlights5.layout {
        margin: 24px 16px 11px 9px;
    }
}

@media (max-width: 767px) {
    .recomendation-result-section2__highlights5.layout {
        margin: 20px 14px 9px 8px;
    }
}

@media (max-width: 575px) {
    .recomendation-result-section2__highlights5.layout {
        margin: 18px 13px 9px 7px;
    }
}

@media (max-width: 479px) {
    .recomendation-result-section2__highlights5.layout {
        margin: 16px 11px 8px 6px;
    }
}

@media (max-width: 383px) {
    .recomendation-result-section2__highlights5.layout {
        margin: 15px 10px 7px 6px;
    }
}

.recomendation-result-section2__highlights5 {
    font: 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    color: black;
    letter-spacing: -0.9px;
}

@media (max-width: 1199px) {
    .recomendation-result-section2__highlights5 {
        font-size: 17px;
        text-align: left;
    }
}

@media (max-width: 991px) {
    .recomendation-result-section2__highlights5 {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .recomendation-result-section2__highlights5 {
        font-size: 15px;
    }
}

@media (max-width: 479px) {
    .recomendation-result-section2__highlights5 {
        font-size: 14px;
    }
}
