{% extends 'main/navbar.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css"
          href="{% static '/css/Form.css' %}"/>
{% endblock %}


{% block content %}
    <div class="form layout form-group">
        <div class="layout form-block">
            <div class="form-block-item">
                <div class="layout form-flex">
                    <div class="layout form-content-box3">
                        <h2 class="layout title2-to-left">
                            В какой компании вы хотите работать?
                        </h2>
                        <div class="layout form_choice_background">
                            <h4 class="layout form-highlights">Введите название
                                здесь</h4>
                        </div>
                    </div>
                    <div class="layout1 form-content-box3">
                        <h2 class="layout1 title2-to-left">
                            Какая сфера вам интересна?
                        </h2>
                        <div class="layout1 form_choice_background">
                            <h4 class="layout form-highlights">Введите сферу
                                здесь</h4>
                        </div>
                    </div>
                    <div class="layout form-cover-block">
                        <h4 class="layout button_text"
                            onclick="stub()"> Получить рекомендации</h4>
                    </div>
                </div>
            </div>
            <div class="form-block-item1">
                <div class="layout form-content-box2">
                    <h2 class="layout title2-to-left">
                        В каком направоении вы хотите развиваться?
                    </h2>
                    <div class="layout2 form_choice_background">
                        <h4 class="layout form_choice_text">Дизайн</h4>
                    </div>
                    <div class="layout3 form_choice_background">
                        <h4 class="layout form_choice_text">Разработка</h4>
                    </div>
                    <div class="layout4 form_choice_background">
                        <h4 class="layout form_choice_text">Аналитика</h4>
                    </div>
                    <div class="layout5 form_choice_background">
                        <h4 class="layout form_choice_text">Менеджмент</h4>
                    </div>
                </div>
            </div>
            <div class="form-block-item2">
                <div class="layout form-content-box1">
                    <h2 class="layout title2-to-left">
                        До какой позиции вы хотите дорасти?
                    </h2>
                    <div class="layout6 form_choice_background">
                        <h4 class="layout form_choice_text">Лид своей
                            команды</h4>
                    </div>
                    <div class="layout7 form_choice_background">
                        <h4 class="layout form_choice_text">Senior
                            специаоист</h4>
                    </div>
                    <div class="layout8 form_choice_background">
                        <h4 class="layout form_choice_text">Директор</h4>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
{% block extrajs %}
    <script type="text/javascript">
        function stub() {
            location.href = '/recomend/stub'
        }
    </script>
{% endblock %}
