{% load static %}
<!DOCTYPE html>
<html>
<!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
            rel="stylesheet"
            type="text/css"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="https://unpkg.com/aos@2.3.1/dist/aos.css"
    />
    <link rel="stylesheet" type="text/css"
          href="{% static '/css/common.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static '/css/fonts.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static '/css/Form.css' %}"/>

    <script
            type="text/javascript"
            src="https://unpkg.com/aos@2.3.1/dist/aos.js"
    ></script>
    <script
            type="text/javascript"
            src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"
    ></script>
</head>

<body style="display: flex">
<div class="form layout form-group">
    <div class="layout form-block">
        <div class="form-block-item">
            <div class="layout form-flex">
                <div class="layout form-content-box3">
                    <h2 class="layout form-medium-title">
                        В какой компании вы хотите работать?
                    </h2>
                    <div class="layout form-cover-block1">
                        <h4 class="layout form-highlights">Введите название
                            здесь</h4>
                    </div>
                </div>
                <div class="layout1 form-content-box3">
                    <h2 class="layout1 form-medium-title">
                        Какая сфера вам интересна?
                    </h2>
                    <div class="layout1 form-cover-block1">
                        <h4 class="layout form-highlights">Введите сферу
                            здесь</h4>
                    </div>
                </div>
                <div class="layout form-cover-block">
                    <h4 class="layout form-highlights1">Получить
                        рекомендации</h4>
                </div>
            </div>
        </div>
        <div class="form-block-item1">
            <div class="layout form-content-box2">
                <h2 class="layout form-medium-title">
                    В каком направоении вы хотите развиваться?
                </h2>
                <div class="layout2 form-cover-block1">
                    <h4 class="layout form-highlights2">Дизайн</h4>
                </div>
                <div class="layout3 form-cover-block1">
                    <h4 class="layout form-highlights3">Разработка</h4>
                </div>
                <div class="layout4 form-cover-block1">
                    <h4 class="layout form-highlights4">Аналитика</h4>
                </div>
                <div class="layout5 form-cover-block1">
                    <h4 class="layout form-highlights5">Менеджмент</h4>
                </div>
            </div>
        </div>
        <div class="form-block-item2">
            <div class="layout form-content-box1">
                <h2 class="layout form-medium-title">
                    До какой позиции вы хотите дорасти?
                </h2>
                <div class="layout6 form-cover-block1">
                    <h4 class="layout form-highlights6">Лид своей команды</h4>
                </div>
                <div class="layout7 form-cover-block1">
                    <h4 class="layout form-highlights7">Senior специаоист</h4>
                </div>
                <div class="layout8 form-cover-block1">
                    <h4 class="layout form-highlights8">Директор</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="layout form-content-box">
        <div class="form-content-box-item">
            <div
                    style="--src:url({% static 'assets/arrows.png' %})"
                    class="layout form-block1"
            ></div>
        </div>
        <div class="form-content-box-spacer"></div>
        <h4 class="layout form-highlights21">Ассистент</h4>
        <div class="form-content-box-spacer1"></div>
        <div class="layout form-text-body">Агутин Леня</div>
        <div class="form-content-box-spacer2"></div>
         <div class="form-content-box-item1">
             <div
                    style="--src:url({% static '/assets/profile_pic.png' %})"
                    class="layout form-block2"
            >
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    AOS.init();
</script>
</body>
</html>
