{% extends 'main/navbar.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css"
          href="{% static '/css/Form.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static '/css/Base.css' %}"/>
{% endblock %}


{% block content %}
    <div class="form layout form-group">
        <form>
            <div class="layout form-block">
                <div class="flex_column">
                    <div class="layout question_group_1">
                        <div class="layout input_box">
                            <label class="layout choice-title">
                                В какой компании вы хотите работать?
                                <input type="text" class="layout input_text"
                                       placeholder="Введите название здесь"/>
                            </label>
                        </div>

                        <div class="outer_spacer"></div>
                        <div class="layout input_box">
                            <label class="layout choice-title">
                                Какая сфера вам интересна?
                                <input type="text" class="layout input_text"
                                       placeholder="Введите сферу здесь"/>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="flex_column">
                    <div class="layout choice_box">
                        <h4 class="layout choice-title">
                            В каком направлении вы хотите развиваться?
                        </h4>
                        <div class="inner_spacer"></div>
                        <input type="radio" id="first1"
                               name="question1" value="Design">
                        <label for="first1"
                               class="layout2 input_choice">Дизайн
                        </label>
                        <input type="radio" id="first2"
                               name="question1" value="Development">
                        <label for="first2"
                               class="layout2 input_choice">Разработка
                        </label>
                        <input type="radio" id="first3"
                               name="question1" value="analytics">
                        <label for="first3"
                               class="layout2 input_choice">Аналитика
                        </label>
                        <input type="radio" id="first4"
                               name="question1" value="management">
                        <label for="first4"
                               class="layout2 input_choice">Менеджмент
                        </label>
                        <div class="inner_spacer"></div>
                    </div>
                </div>
                <div class="flex_column">
                    <div class="layout choice_box">
                        <h4 class="layout choice-title">
                            До какой позиции вы хотите дорасти?
                        </h4>
                        <div class="inner_spacer"></div>
                        <input type="radio" id="second1"
                               name="question2" value="team_lead">
                        <label for="second1"
                               class="layout2 input_choice">Лид своей команды
                        </label>
                        <input type="radio" id="second2"
                               name="question2" value="senior">
                        <label for="second2"
                               class="layout2 input_choice">Senior специалист
                        </label>
                        <input type="radio" id="second3"
                               name="question2" value="director">
                        <label for="second3"
                               class="layout2 input_choice">Директор
                        </label>
                        <div class="inner_spacer"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <button class="layout button" onclick="stub()"> Получить рекомендации
    </button>

{% endblock %}
{% block extrajs %}
    <script type="text/javascript">
        function stub() {
            location.href = '/recommend/stub'
        }
    </script>
{% endblock %}
