{% load static %}
<!DOCTYPE html>
<html>
<!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link
            rel="stylesheet"
            type="text/css"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="https://unpkg.com/aos@2.3.1/dist/aos.css"
    />
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/common.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/fonts.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/MainPage.css' %}"/>

    <script
            type="text/javascript"
            src="https://unpkg.com/aos@2.3.1/dist/aos.js"
    ></script>
    <script
            type="text/javascript"
            src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"
    ></script>
</head>

<body style="display: flex">
<main class="main-page layout main-page-main">
    <!-- ======= section1 ======= -->
    <section class="layout main-page-section1__container">
        <div class="layout main-page-section1__content-box2">
            <div class="main-page-section1__content-box2-item">
                <div
                        style="--src:url({% static '/assets/arrows.png' %})"
                        class="layout main-page-section1__block1"
                ></div>
            </div>
            <div class="main-page-section1__content-box2-spacer"></div>
            <h4 class="layout main-page-section1__highlights2">Ассистент</h4>
        </div>
        <div class="layout main-page-section1__group">
            <h1 class="layout main-page-section1__hero-title">
                Достигай своих<br>карьерных целей
            </h1>
            <div class="layout main-page-section1__flex">
                <div class="main-page-section1__flex-item">
                    <div class="layout main-page-section1__flex1">
                        <h4 class="layout main-page-section1__highlights1">
                            Поможем понять кем ты хочешь стать когда вырастешь
                            и расскажем, что нужно для этого сделать
                        </h4>
                        <div class="layout main-page-section1__cover-block">
                            <h4 class="layout main-page-section1__highlights"
                                onclick="register()">
                                Попробовать
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="main-page-section1__flex-spacer"></div>
                <div class="main-page-section1__flex-item1">
                    <div
                            style="--src:url({% static '/assets/pitching.png' %})"
                            class="layout main-page-section1__image"
                    ></div>
                </div>
            </div>
        </div>
        <h1 class="layout1 main-page-section1__hero-title">
            Как мы можем помочь?
        </h1>
        <div class="layout main-page-section1__flex2">
            <div class="main-page-section1__flex2-item">
                <div class="layout main-page-section1__cover-group">
                    <article class="layout2 main-page-section1__content-box">
                        <h2 class="layout main-page-section1__medium-title">
                            Оцениваем тебя как профессионала
                        </h2>
                        <h4 class="layout main-page-section1__highlights11">
                            Анализируем твои навыки, предпочтения, опыт работы
                        </h4>
                    </article>
                </div>
            </div>
            <div class="main-page-section1__flex2-spacer"></div>
            <div class="main-page-section1__flex2-item">
                <article class="layout2 main-page-section1__content-box">
                    <h2 class="layout main-page-section1__medium-title">
                        Определяем карьерную цель доя тебя
                    </h2>
                    <h4 class="layout main-page-section1__highlights12">
                        Выбираем компанию, должность, сферу и направление
                        работы
                    </h4>
                </article>
            </div>
            <div class="main-page-section1__flex2-spacer"></div>
            <div class="main-page-section1__flex2-item">
                <article class="layout2 main-page-section1__content-box">
                    <h2 class="layout main-page-section1__medium-title">
                        Рассказываем как построить карьеру мечты
                    </h2>
                    <h4 class="layout main-page-section1__highlights13">
                        Даем рекомендации по мероприятиям, курсам и вакансиям
                    </h4>
                </article>
            </div>
        </div>
    </section>
    <comment content="======= End section1 =======" break="true"></comment
    ><!-- ======= section2 ======= -->
    <section class="layout main-page-section2__container">
        <div class="layout main-page-section2__flex3">
            <div class="layout main-page-section2__block2">
                <div class="layout main-page-section2__group">
                    <div class="layout main-page-section2__flex4">
                        <div class="main-page-section2__flex4-item">
                            <div class="layout main-page-section2__cover-block">
                                <h4 class="layout main-page-section2__highlights"
                                    onclick="register()">
                                    Попробовать
                                </h4>
                            </div>
                        </div>
                        <div class="main-page-section2__flex4-item1">
                            <div
                                    style="--src:url({% static '/assets/people.png' %})"
                                    class="layout main-page-section2__image2"
                            ></div>
                        </div>
                    </div>
                    <h1 class="layout main-page-section2__hero-title1">
                        Начни путь к работе мечты <br> прямо сейчас
                    </h1>
                </div>
            </div>
            <h1 class="layout main-page-section2__hero-title">
                Выбери подходящий вариант
            </h1>
            <div class="layout main-page-section2__flex5">
                <div class="main-page-section2__flex5-item">
                    <div class="layout main-page-section2__content-box4" onclick="register()">
                        <div
                                style="--src:url({% static '/assets/talking.png' %})"
                                class="layout main-page-section2__image3"
                        ></div>
                        <h2 class="layout main-page-section2__medium-title">
                            Помогите найти карьерную цель и достичь её
                        </h2>
                        <h4 class="layout main-page-section2__highlights1">
                            Изучим твои опыт, навыки и тебя самого и подскажем,
                            какую карьеру выбрать. Ах да, еще расскажем как ее
                            построить
                        </h4>
                    </div>
                </div>
                <div class="main-page-section2__flex5-spacer"></div>
                <div class="main-page-section2__flex5-item">
                    <div class="layout main-page-section2__content-box4" onclick="register()">
                        <div
                                style="--src:url({% static '/assets/chosing.png' %})"
                                class="layout1 main-page-section2__image3"
                        ></div>
                        <h2 class="layout1 main-page-section2__medium-title">
                            У меня есть цель, расскажите как ее достичь
                        </h2>
                        <h4 class="layout1 main-page-section2__highlights1">
                            Проанализируем твою цель и составим для тебя список
                            куда ходить, что изучать и где работать
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= End section2 ======= -->

</main>
<script type="text/javascript">
    function register() {
        location.href = '/register'
    }

    AOS.init();
</script>
</body>
</html>
