{% load static %}
<!DOCTYPE html>
<html>
<!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
            rel="stylesheet"
            type="text/css"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="https://unpkg.com/aos@2.3.1/dist/aos.css"
    />
    <link rel="stylesheet" type="text/css"
          href="{% static '/css/common.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static '/css/fonts.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static '/css/Registration.css' %}"/>

    <script
            type="text/javascript"
            src="https://unpkg.com/aos@2.3.1/dist/aos.js"
    ></script>
    <script
            type="text/javascript"
            src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"
    ></script>
</head>

<body style="display: flex">
<div class="registration layout registration-block">
    <div class="layout registration-content-box">
        <div class="registration-content-box-item">
            <div
                    style="--src:url({% static 'assets/arrows.png' %})"
                    class="layout registration-block1"
            ></div>
        </div>
        <div class="registration-content-box-spacer"></div>
        <h4 class="layout registration-highlights">Ассистент</h4>
        <div class="registration-content-box-spacer1"></div>
        <div class="layout registration-text-body">Вход</div>
        <div class="registration-content-box-spacer2"></div>
        <div class="registration-content-box-item1">
            <div class="layout registration-cover-block2">
                <div class="layout registration-text-body1">Регистрация</div>
            </div>
        </div>
    </div>
    <div class="layout registration-flex">
        <div class="registration-flex-item">
            <div class="layout registration-flex1">
                <h1 class="layout registration-hero-title">
                    Помогаем достичь профессиональных целей
                </h1>
                <div class="layout registration-cover-block1">
                    <h4 class="layout registration-highlights1"
                        onclick="form()">
                        Войти через Google
                    </h4>
                </div>
            </div>
        </div>
        <div class="registration-flex-spacer"></div>
        <div class="registration-flex-item1">
            <div class="layout registration-cover-block">
                <div
                        style="--src:url({% static 'assets/high five.png' %})"
                        class="layout registration-image1"
                ></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function form() {
        location.href = '/form'
    }

    AOS.init();
</script>
</body>
</html>
