{% extends 'main/navbar.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css"
          href="{% static '/css/profile.css' %}"/>
{% endblock %}

{% block content %}
    <section class="layout profile_container">
        <div class="layout profile_flex">
            <h1 class="layout profile_title">Твой профиль</h1>
            <div class="layout profile_subflex">
                <div class="profile_avatar_layout">
                    <div
                            style="--src:url({% static '/assets/profile_pic.png' %})"
                            class="layout profile_avatar_image">
                    </div>
                </div>
                <div class="inner_spacer"></div>
                <div class="layout profile_name_subflex">
                    <h2 class="layout profile_name_text"> {{ username }} </h2>
                    <h4 class="layout profile_exit" onclick="logout()">Выйти →</h4>
                </div>
            </div>
        </div>
    </section>
    {% include "recommendations/RecommendationResult.html" %}
{% endblock %}
{% block extrajs %}
    <script type="text/javascript">
        function form() {
            location.href = '{% url "main:main" %}'
        }

        function logout() {
            location.href = '{% url "users:logout" %}'
        }
    </script>
{% endblock %}
