{% load static %}
<!DOCTYPE html>
<html>
<!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
            rel="stylesheet"
            type="text/css"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="https://unpkg.com/aos@2.3.1/dist/aos.css"
    />
    <link rel="stylesheet" type="text/css"
          href="{% static '/css/common.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static '/css/fonts.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static '/css/Profile.css' %}"/>

    <script
            type="text/javascript"
            src="https://unpkg.com/aos@2.3.1/dist/aos.js"
    ></script>
    <script
            type="text/javascript"
            src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"
    ></script>
</head>

<body style="display: flex">
<main class="profile layout profile-main">
    <!-- ======= section1 ======= -->
    <section class="layout profile-section1__container">
        <div class="layout profile-section1__flex">
            <div class="profile-section1__flex-item">
                <div
                        style="--src:url({% static '/assets/arrows.png' %})"
                        class="layout profile-section1__block2"
                ></div>
            </div>
            <div class="profile-section1__flex-spacer"></div>
            <h4 class="layout profile-section1__highlights3">Ассистент</h4>
            <div class="profile-section1__flex-spacer1"></div>
            <div class="layout profile-section1__text-body">Агутин Леня</div>
            <div class="profile-section1__flex-spacer2"></div>
            <div class="profile-section1__flex-item1">
                <div
                        style="--src:url({% static '/assets/profile_pic_small.png' %})"
                        class="layout profile-section1__block3"
                >

                </div>
            </div>
        </div>
    </section>
    <comment content="======= End section1 =======" break="true"></comment
    ><!-- ======= section2 ======= -->
    <section class="layout profile-section2__container">
        <div class="layout profile-section2__flex1">
            <h1 class="layout profile-section2__hero-title">Твой профиль</h1>
            <div class="layout profile-section2__flex2">
                <div class="profile-section2__flex2-item">
                    <div
                            style="--src:url({% static '/assets/profile_pic.png' %})"
                            class="layout profile-section2__block1"
                    >
                    </div>
                </div>
                <div class="profile-section2__flex2-spacer"></div>
                <div class="profile-section2__flex2-item1">
                    <div class="layout profile-section2__flex3">
                        <h2 class="layout profile-section2__medium-title">
                            Агутин Леня
                        </h2>
                        <h4 class="layout profile-section2__highlights">Выйти
                            →</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <comment content="======= End section2 =======" break="true"></comment
    ><!-- ======= section3 ======= -->
    <section class="layout profile-section3__container">
        <div class="layout profile-section3__flex4">
            <div class="layout profile-section3__group">
                <div class="layout profile-section3__content-box">
                    <h2 class="layout profile-section3__medium-title">
                        Твоя карьерная цель на 5 лет
                    </h2>
                    <h1 class="layout profile-section3__hero-title">
                        Senior бизнес-аналитик в Тинькофф
                    </h1>
                    <div class="layout profile-section3__cover-block">
                        <h4 class="layout profile-section3__highlights2">
                            Пройти тестирование заново
                        </h4>
                    </div>
                </div>
                <div
                        style="--src:url({% static '/assets/stonks.png' %})"
                        class="layout profile-section3__image"
                ></div>
            </div>
            <h1 class="layout1 profile-section3__hero-title">Рекомендации</h1>
            <div class="layout1 profile-section3__group">
                <h1 class="layout profile-section3__hero-title1">
                    Мероприятия</h1>
                <h1 class="layout1 profile-section3__hero-title1">
                    Мероприятия</h1>
            </div>
            <div class="layout profile-section3__flex5">
                <div class="profile-section3__flex5-item">
                    <article class="layout profile-section3__cover-group">
                        <h2 class="layout profile-section3__medium-title1">
                            KPMG Advisory School
                        </h2>
                        <h4 class="layout profile-section3__highlights1-box">
                  <pre class="profile-section3__highlights1">
Ты сможешь погрузиться в искусство бизнеса на KPMG Advisory School. </pre
                  >
                        </h4>
                    </article>
                </div>
                <div class="profile-section3__flex5-spacer"></div>
                <div class="profile-section3__flex5-item">
                    <div class="layout profile-section3__cover-group1">
                        <div class="layout profile-section3__flex6">
                            <h2 class="layout profile-section3__medium-title2">
                                Как стать аналитиком данных и построить карьеру
                                в IT
                            </h2>
                            <h4 class="layout profile-section3__highlights11">
                                Узнайте, как освоить профессию и начать
                                работать в
                                перспективной сфере, на вебинаре
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="profile-section3__flex5-spacer"></div>
                <div class="profile-section3__flex5-item">
                    <div class="layout profile-section3__cover-group2">
                        <div class="layout profile-section3__flex7">
                            <h2 class="layout profile-section3__medium-title3">
                                KPMG Advisory School
                            </h2>
                            <h4 class="layout profile-section3__highlights12-box">
                    <pre class="profile-section3__highlights1">
Ты сможешь погрузиться в искусство бизнеса на KPMG Advisory School. </pre
                    >
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="layout2 profile-section3__hero-title1">Обучение</h1>
            <div class="layout profile-section3__flex8">
                <div class="profile-section3__flex8-item">
                    <div class="layout profile-section3__cover-group3">
                        <div class="layout profile-section3__flex7">
                            <h2 class="layout profile-section3__medium-title4">
                                KPMG Advisory School
                            </h2>
                            <h4 class="layout profile-section3__highlights12-box">
                    <pre class="profile-section3__highlights1">
Ты сможешь погрузиться в искусство бизнеса на KPMG Advisory School. </pre
                    >
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="profile-section3__flex8-spacer"></div>
                <div class="profile-section3__flex8-item">
                    <div class="layout profile-section3__cover-group4">
                        <div class="layout profile-section3__flex6">
                            <h2 class="layout profile-section3__medium-title5">
                                Как стать аналитиком данных и построить карьеру
                                в IT
                            </h2>
                            <h4 class="layout profile-section3__highlights12">
                                Узнайте, как освоить профессию и начать
                                работать в
                                перспективной сфере, на вебинаре
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="profile-section3__flex8-spacer"></div>
                <div class="profile-section3__flex8-item">
                    <div class="layout profile-section3__cover-group5">
                        <div class="layout profile-section3__flex7">
                            <h2 class="layout profile-section3__medium-title6">
                                KPMG Advisory School
                            </h2>
                            <h4 class="layout profile-section3__highlights13-box">
                    <pre class="profile-section3__highlights1">
Ты сможешь погрузиться в искусство бизнеса на KPMG Advisory School. </pre
                    >
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="layout3 profile-section3__hero-title1">Вакансии</h1>
            <div class="layout profile-section3__flex12">
                <div class="profile-section3__flex12-item">
                    <div class="layout profile-section3__cover-group6">
                        <div class="layout profile-section3__flex6">
                            <h2 class="layout profile-section3__medium-title7">
                                Курс “Профессия бизнес-аналитика”
                            </h2>
                            <h4 class="layout profile-section3__highlights13">
                                Станьте специалистом, который влияет на работу
                                целых
                                корпораций, всего за шесть месяцев
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="profile-section3__flex12-spacer"></div>
                <div class="profile-section3__flex12-item">
                    <div class="layout profile-section3__cover-group7">
                        <div class="layout profile-section3__flex6">
                            <h2 class="layout profile-section3__medium-title8">
                                Курс “Профессия финансового аналитика”
                            </h2>
                            <h4 class="layout profile-section3__highlights14">
                                Начните карьеру в финансах за шесть месяцев
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="profile-section3__flex12-spacer"></div>
                <div class="profile-section3__flex12-item">
                    <div class="layout profile-section3__cover-group8">
                        <div class="layout profile-section3__flex6">
                            <h2 class="layout profile-section3__medium-title9">
                                Курс “Профессия бизнес-аналитика”
                            </h2>
                            <h4 class="layout profile-section3__highlights15">
                                Станьте специалистом, который влияет на работу
                                целых
                                корпораций, всего за шесть месяцев
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= End section3 ======= -->

</main>
<script type="text/javascript">
    AOS.init();
</script>
</body>
</html>
