{% extends 'main/navbar.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css"
          href="{% static '/css/Profile.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static '/css/RecommendationResult.css' %}"/>
{% endblock %}

{% block content %}
    <section class="layout profile_container">
        <div class="layout profile_flex">
            <h1 class="layout profile_title">Твой профиль</h1>
            <div class="layout profile_subflex">
                <div class="profile_avatar_layout">
                    <div
                            style="--src:url({% static '/assets/profile_pic.png' %})"
                            class="layout profile_avatar_image">
                    </div>
                </div>
                <div class="profile_spacer"></div>
                <div class="profile_name_flex">
                    <div class="layout profile_name_subflex">
                        <h2 class="layout profile_name_text"> Агутин Леня </h2>
                        <h4 class="layout profile_exit">Выйти →</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "recommendations/RecommendationResult.html" %}
{% endblock %}
{% block extrajs %}
    <script type="text/javascript">
        function form() {
            location.href = '/form'
        }
    </script>
{% endblock %}
