{% load static %}
<!DOCTYPE html>
<html>
<!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
            rel="stylesheet"
            type="text/css"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="https://unpkg.com/aos@2.3.1/dist/aos.css"
    />
    <link rel="stylesheet" type="text/css"
          href="{% static '/css/common.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static '/css/fonts.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static '/css/Stub.css' %}"/>

    <script
            type="text/javascript"
            src="https://unpkg.com/aos@2.3.1/dist/aos.js"
    ></script>
    <script
            type="text/javascript"
            src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"
    ></script>
</head>

<body style="display: flex">
<div class="stub layout stub-block">
    <div class="layout stub-content-box">
        <div class="stub-content-box-item">
            <div
                    style="--src:url({% static 'assets/arrows.png' %})"
                    class="layout stub-block1"
            ></div>
        </div>
        <div class="stub-content-box-spacer"></div>
        <h4 class="layout stub-highlights">Ассистент</h4>
        <div class="stub-content-box-spacer1"></div>
        <div class="layout stub-text-body">Агутин Леня</div>
        <div class="stub-content-box-spacer2"></div>
        <div class="stub-content-box-item1">
            <div
                    style="--src:url({% static '/assets/profile_pic.png' %})"
                    class="layout stub-block2"
            >
            </div>
        </div>
    </div>
    <div class="layout stub-flex">
        <div class="stub-flex-item">
            <div class="layout stub-group">
                <h1 class="layout stub-hero-title">
                    Анализируем ваши данные. Нам нужно всего 1-2 мин
                </h1>
                <h2 class="layout stub-medium-title">
                    Не закрывайте и не перезагружайте страницу, <br>
                    чтобы не потерять резульаты!
                </h2>
            </div>
        </div>
        <div class="stub-flex-spacer"></div>
        <div class="stub-flex-item1">
            <div class="layout stub-cover-group">
                <div
                        style="--src:url({% static '/assets/tick_people.png' %})"
                        class="layout stub-image"
                ></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    AOS.init();
</script>
</body>
</html>
