/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
@import "utils";

$font_type0: 700 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
$font_type1: 700 48px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
$font_type2: 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
$font_type3: 500 24px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
$font_type4: 500 36px/1.2 "Stratos LC Web", Helvetica, Arial, serif;

.main-page- {
  &main.layout {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
  }
  &main {
    @include flex-column;
    background-color: rgb(249, 251, 252);
  }
  &section1__container.layout {
    position: relative;
    height: min-content;
  }
  &section1__container {
    @include flex-column;
  }
  &section1__content-box2.layout {
    position: relative;
    height: min-content;
  }
  &section1__content-box2 {
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06274509803921569);
  }
  &section1__content-box2-item {
    @include flex-item(0, 1, 104px);
  }
  &section1__block1.layout {
    position: relative;
    min-height: 13px;
    flex-grow: 1;
    margin: 26px 0px 27px 80px;
    @include lg {
      margin: 23px 0px 24px 68px;
    }
    @include md {
      margin: 19px 0px 20px 54px;
    }
    @include sm {
      margin: 16px 0px 17px 43px;
    }
    @include xs {
      margin: 15px 0px 15px 37px;
    }
    @include xxs {
      margin: 13px 0px 14px 31px;
    }
    @include tn {
      margin: 12px 0px 13px 28px;
    }
  }
  &section1__block1 {
    display: flex;
    background: var(--src) center center / contain no-repeat;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10196078431372549);
  }
  &section1__content-box2-spacer {
    flex: 0 1 8px;
  }
  &section1__highlights2.layout {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 21px 1239px 23px 0px;
    @include lg {
      margin: 18px 941px 20px 0px;
    }
    @include md {
      margin: 16px 619px 17px 0px;
    }
    @include sm {
      margin: 13px 342px 14px 0px;
    }
    @include xs {
      margin: 12px 204px 13px 0px;
    }
    @include xxs {
      margin: 11px 66px 12px 0px;
    }
    @include tn {
      margin: 10px 5px 11px 0px;
    }
  }
  &section1__highlights2 {
    @include font-face($font_type0, rgb(35, 35, 35), -0.9px);
    @include lg {
      font-size: 17px;
      text-align: left;
    }
    @include md {
      font-size: 16px;
    }
    @include sm {
      font-size: 15px;
    }
    @include xxs {
      font-size: 14px;
    }
  }
  &section1__group.layout {
    position: relative;
    height: min-content;
    width: 89.17%;
    margin: 134px auto 0px;
    @include xl {
      width: 91.65%;
    }
    @include lg {
      width: 93.6%;
      margin: 108px auto 0px;
    }
    @include md {
      width: 95.13%;
      margin: 81px auto 0px;
    }
    @include sm {
      width: 96.3%;
      margin: 57px auto 0px;
    }
    @include xs {
      width: 97.2%;
      margin: 45px auto 0px;
    }
    @include xxs {
      width: 97.88%;
      margin: 33px auto 0px;
    }
    @include tn {
      width: 98.4%;
      margin: 25px auto 0px;
    }
  }
  &section1__group {
    display: flex;
  }
  &section1__hero-title.layout {
    position: absolute;
    top: 100px;
    height: min-content;
    bottom: 324px;
    left: 0px;
    right: 0px;
    width: 44.94%;
    margin: 0px 54.91% 0px 0.16%;
    @include lg {
      top: 83px;
      bottom: 252px;
    }
    @include md {
      top: 64px;
      bottom: 173px;
    }
    @include sm {
      top: 48px;
      bottom: 106px;
    }
    @include xs {
      top: 40px;
      bottom: 72px;
    }
    @include xxs {
      top: 32px;
      bottom: 39px;
    }
    @include tn {
      top: 27px;
      bottom: 16px;
    }
  }
  &section1__hero-title {
    @include font-face($font_type1, rgb(35, 35, 35), -1.92px);
    @include lg {
      font-size: 43px;
      text-align: left;
    }
    @include md {
      font-size: 37px;
    }
    @include sm {
      font-size: 32px;
    }
    @include xs {
      font-size: 30px;
    }
    @include xxs {
      font-size: 27px;
    }
    @include tn {
      font-size: 25px;
    }
  }
  &section1__flex.layout {
    position: relative;
    height: min-content;
    width: 100%;
    margin: 0px auto;
  }
  &section1__flex {
    display: flex;
  }
  &section1__flex-item {
    @include flex-item(0, 1, 378px);
  }
  &section1__flex1.layout {
    position: relative;
    height: min-content;
    flex-grow: 1;
    margin: 250px 0px 111px;
    @include lg {
      margin: 196px 0px 91px;
    }
    @include md {
      margin: 137px 0px 69px;
    }
    @include sm {
      margin: 87px 0px 51px;
    }
    @include xs {
      margin: 62px 0px 42px;
    }
    @include xxs {
      margin: 37px 0px 32px;
    }
    @include tn {
      margin: 20px 0px 26px;
    }
  }
  &section1__flex1 {
    @include flex-column;
  }
  &section1__highlights1.layout {
    position: relative;
    height: min-content;
  }
  &section1__highlights1 {
    @include font-face($font_type2, rgb(35, 35, 35), -0.9px);
    @include lg {
      font-size: 17px;
      text-align: left;
    }
    @include md {
      font-size: 16px;
    }
    @include sm {
      font-size: 15px;
    }
    @include xxs {
      font-size: 14px;
    }
  }
  &section1__cover-block.layout {
    position: relative;
    height: min-content;
    width: 56.88%;
    margin: 64px 42.59% 0px 0.53%;
    @include lg {
      margin: 55px 42.59% 0px 0.53%;
    }
    @include md {
      margin: 45px 42.59% 0px 0.53%;
    }
    @include sm {
      margin: 37px 42.59% 0px 0.53%;
    }
    @include xs {
      margin: 32px 42.59% 0px 0.53%;
    }
    @include xxs {
      margin: 28px 42.59% 0px 0.53%;
    }
    @include tn {
      margin: 25px 42.59% 0px 0.53%;
    }
  }
  &section1__cover-block {
    display: flex;
    background-color: rgb(103, 200, 225);
    border-radius: 20px 20px 20px 20px;
  }
  &section1__highlights.layout {
    position: relative;
    height: min-content;
    width: 115px;
    min-width: 115px;
    margin: 12px auto 16px;
    @include lg {
      margin: 11px auto 14px;
    }
    @include md {
      margin: 9px auto 12px;
    }
    @include sm {
      margin: 8px auto 10px;
    }
    @include xs {
      margin: 7px auto 9px;
    }
    @include xxs {
      margin: 6px auto 8px;
    }
  }
  &section1__highlights {
    @include font-face($font_type2, rgb(255, 255, 255), 0px);
    @include lg {
      font-size: 17px;
      text-align: left;
    }
    @include md {
      font-size: 16px;
    }
    @include sm {
      font-size: 15px;
    }
    @include xxs {
      font-size: 14px;
    }
  }
  &section1__flex-spacer {
    flex: 0 1 144px;
  }
  &section1__flex-item1 {
    @include flex-item(0, 1, 720px);
  }
  &section1__image.layout {
    position: relative;
    height: 540px;
    flex-grow: 1;
  }
  &section1__image {
    background: var(--src) center center / contain no-repeat;
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.06274509803921569));
    border-radius: 20px 20px 20px 20px;
  }
  &section1__hero-title.layout1 {
    position: relative;
    height: min-content;
    width: 88.89%;
    margin: 240px auto 0px;
    @include xl {
      width: 91.43%;
    }
    @include lg {
      width: 93.43%;
      margin: 188px auto 0px;
    }
    @include md {
      width: 94.99%;
      margin: 132px auto 0px;
    }
    @include sm {
      width: 96.2%;
      margin: 84px auto 0px;
    }
    @include xs {
      width: 97.12%;
      margin: 60px auto 0px;
    }
    @include xxs {
      width: 97.82%;
      margin: 36px auto 0px;
    }
    @include tn {
      width: 98.36%;
      margin: 20px auto 0px;
    }
  }
  &section1__flex2.layout {
    position: relative;
    height: min-content;
    width: 88.89%;
    margin: 102px auto 43px;
    @include xl {
      width: 91.43%;
    }
    @include lg {
      width: 93.43%;
      margin: 84px auto 37px;
    }
    @include md {
      width: 94.99%;
      margin: 65px auto 30px;
    }
    @include sm {
      width: 96.2%;
      margin: 49px auto 25px;
    }
    @include xs {
      width: 97.12%;
      margin: 40px auto 22px;
    }
    @include xxs {
      width: 97.82%;
      margin: 32px auto 19px;
    }
    @include tn {
      width: 98.36%;
      margin: 27px auto 17px;
    }
  }
  &section1__flex2 {
    display: flex;
    @include lg {
      flex-wrap: wrap;
      row-gap: 16px;
    }
  }
  &section1__flex2-item {
    @include flex-item(1, 1, 360px);
    @include lg {
      flex: 0 0 100%;
    }
  }
  &section1__cover-group.layout {
    position: relative;
    height: min-content;
    flex-grow: 1;
  }
  &section1__cover-group {
    display: flex;
  }
  &section1__content-box.layout {
    position: relative;
    height: min-content;
    flex-grow: 1;
  }
  &section1__content-box {
    @include flex-column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06274509803921569);
    border-radius: 20px 20px 20px 20px;
  }
  &section1__medium-title.layout {
    position: relative;
    height: min-content;
    margin: 50px 24px 0px;
    @include lg {
      margin: 43px 21px 0px;
    }
    @include md {
      margin: 35px 18px 0px;
    }
    @include sm {
      margin: 28px 15px 0px;
    }
    @include xs {
      margin: 24px 14px 0px;
    }
    @include xxs {
      margin: 21px 12px 0px;
    }
    @include tn {
      margin: 19px 11px 0px;
    }
  }
  &section1__medium-title {
    @include h-center-content;
    font: $font_type3;
    color: rgb(35, 35, 35);
    text-align: center;
    letter-spacing: -1.2px;
    @include lg {
      font-size: 22px;
      text-align: center;
    }
    @include md {
      font-size: 20px;
    }
    @include sm {
      font-size: 19px;
    }
    @include xs {
      font-size: 18px;
    }
    @include xxs {
      font-size: 17px;
    }
    @include tn {
      font-size: 16px;
    }
  }
  &section1__highlights11.layout {
    position: relative;
    height: min-content;
    margin: 32px 25px 56px;
    @include lg {
      margin: 28px 22px 48px;
    }
    @include md {
      margin: 24px 19px 39px;
    }
    @include sm {
      margin: 20px 16px 32px;
    }
    @include xs {
      margin: 18px 14px 28px;
    }
    @include xxs {
      margin: 16px 13px 24px;
    }
    @include tn {
      margin: 15px 12px 21px;
    }
  }
  &section1__highlights11 {
    @include h-center-content;
    font: $font_type2;
    color: rgb(35, 35, 35);
    text-align: center;
    letter-spacing: -0.9px;
    @include lg {
      font-size: 17px;
      text-align: center;
    }
    @include md {
      font-size: 16px;
    }
    @include sm {
      font-size: 15px;
    }
    @include xxs {
      font-size: 14px;
    }
  }
  &section1__flex2-spacer {
    flex: 0 1 100px;
    @include lg {
      display: none;
    }
  }
  &section1__content-box.layout1 {
    position: relative;
    height: min-content;
    flex-grow: 1;
  }
  &section1__highlights12.layout {
    position: relative;
    height: min-content;
    margin: 32px 25px 56px;
    @include lg {
      margin: 28px 22px 48px;
    }
    @include md {
      margin: 24px 19px 39px;
    }
    @include sm {
      margin: 20px 16px 32px;
    }
    @include xs {
      margin: 18px 14px 28px;
    }
    @include xxs {
      margin: 16px 13px 24px;
    }
    @include tn {
      margin: 15px 12px 21px;
    }
  }
  &section1__highlights12 {
    @include h-center-content;
    font: $font_type2;
    color: rgb(35, 35, 35);
    text-align: center;
    letter-spacing: -0.9px;
    @include lg {
      font-size: 17px;
      text-align: center;
    }
    @include md {
      font-size: 16px;
    }
    @include sm {
      font-size: 15px;
    }
    @include xxs {
      font-size: 14px;
    }
  }
  &section1__content-box.layout2 {
    position: relative;
    height: min-content;
    flex-grow: 1;
  }
  &section1__highlights13.layout {
    position: relative;
    height: min-content;
    margin: 32px 25px 56px;
    @include lg {
      margin: 28px 22px 48px;
    }
    @include md {
      margin: 24px 19px 39px;
    }
    @include sm {
      margin: 20px 16px 32px;
    }
    @include xs {
      margin: 18px 14px 28px;
    }
    @include xxs {
      margin: 16px 13px 24px;
    }
    @include tn {
      margin: 15px 12px 21px;
    }
  }
  &section1__highlights13 {
    @include h-center-content;
    font: $font_type2;
    color: rgb(35, 35, 35);
    text-align: center;
    letter-spacing: -0.9px;
    @include lg {
      font-size: 17px;
      text-align: center;
    }
    @include md {
      font-size: 16px;
    }
    @include sm {
      font-size: 15px;
    }
    @include xxs {
      font-size: 14px;
    }
  }
  &section2__container.layout {
    position: relative;
    height: min-content;
  }
  &section2__container {
    display: flex;
  }
  &section2__flex3.layout {
    position: relative;
    height: min-content;
    flex-grow: 1;
    margin: 137px 0px;
    @include lg {
      margin: 111px 0px;
    }
    @include md {
      margin: 82px 0px;
    }
    @include sm {
      margin: 58px 0px;
    }
    @include xs {
      margin: 45px 0px;
    }
    @include xxs {
      margin: 33px 0px;
    }
    @include tn {
      margin: 25px 0px;
    }
  }
  &section2__flex3 {
    @include flex-column;
  }
  &section2__block2.layout {
    position: relative;
    height: min-content;
  }
  &section2__block2 {
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06274509803921569);
  }
  &section2__group.layout {
    position: relative;
    height: min-content;
    width: 88.89%;
    margin: 0px auto;
    @include xl {
      width: 91.43%;
    }
    @include lg {
      width: 93.43%;
    }
    @include md {
      width: 94.99%;
    }
    @include sm {
      width: 96.2%;
    }
    @include xs {
      width: 97.12%;
    }
    @include xxs {
      width: 97.82%;
    }
    @include tn {
      width: 98.36%;
    }
  }
  &section2__group {
    display: flex;
  }
  &section2__flex4.layout {
    position: relative;
    height: min-content;
    width: 100%;
    margin: 0px auto;
  }
  &section2__flex4 {
    display: flex;
  }
  &section2__flex4-item {
    @include flex-item(0, 1, 399px);
  }
  &section2__cover-block.layout {
    position: relative;
    height: min-content;
    flex-grow: 1;
    margin: 170px 184px 30px 0px;
    @include lg {
      margin: 136px 146px 26px 0px;
    }
    @include md {
      margin: 98px 105px 22px 0px;
    }
    @include sm {
      margin: 66px 70px 19px 0px;
    }
    @include xs {
      margin: 50px 52px 17px 0px;
    }
    @include xxs {
      margin: 34px 35px 15px 0px;
    }
    @include tn {
      margin: 23px 23px 14px 0px;
    }
  }
  &section2__cover-block {
    display: flex;
    background-color: rgb(103, 200, 225);
    border-radius: 20px 20px 20px 20px;
  }
  &section2__highlights.layout {
    position: relative;
    height: min-content;
    width: 115px;
    min-width: 115px;
    margin: 12px auto 16px;
    @include lg {
      margin: 11px auto 14px;
    }
    @include md {
      margin: 9px auto 12px;
    }
    @include sm {
      margin: 8px auto 10px;
    }
    @include xs {
      margin: 7px auto 9px;
    }
    @include xxs {
      margin: 6px auto 8px;
    }
  }
  &section2__highlights {
    @include font-face($font_type2, rgb(255, 255, 255), 0px);
    @include lg {
      font-size: 17px;
      text-align: left;
    }
    @include md {
      font-size: 16px;
    }
    @include sm {
      font-size: 15px;
    }
    @include xxs {
      font-size: 14px;
    }
  }
  &section2__flex4-item1 {
    @include flex-item(0, 1, 881px);
  }
  &section2__image2.layout {
    position: relative;
    height: 247px;
    flex-grow: 1;
    margin: 3px 39px 0px 0px;
    @include lg {
      margin: 3px 34px 0px 0px;
    }
    @include md {
      margin: 3px 28px 0px 0px;
    }
    @include sm {
      margin: 3px 23px 0px 0px;
    }
    @include xs {
      margin: 3px 21px 0px 0px;
    }
    @include xxs {
      margin: 3px 18px 0px 0px;
    }
    @include tn {
      margin: 3px 17px 0px 0px;
    }
  }
  &section2__image2 {
    background: var(--src) center center / contain no-repeat;
  }
  &section2__hero-title1.layout {
    position: absolute;
    top: 50px;
    height: min-content;
    bottom: 113px;
    left: 0px;
    right: 0px;
    width: 34.92%;
    margin: 0px 65.08% 0px 0%;
    @include lg {
      top: 43px;
      bottom: 93px;
    }
    @include md {
      top: 35px;
      bottom: 70px;
    }
    @include sm {
      top: 28px;
      bottom: 51px;
    }
    @include xs {
      top: 24px;
      bottom: 42px;
    }
    @include xxs {
      top: 21px;
      bottom: 32px;
    }
    @include tn {
      top: 19px;
      bottom: 26px;
    }
  }
  &section2__hero-title1 {
    @include font-face($font_type4, rgb(35, 35, 35), -1.8px);
    @include lg {
      font-size: 32px;
      text-align: left;
    }
    @include md {
      font-size: 29px;
    }
    @include sm {
      font-size: 25px;
    }
    @include xs {
      font-size: 24px;
    }
    @include xxs {
      font-size: 22px;
    }
    @include tn {
      font-size: 21px;
    }
  }
  &section2__hero-title.layout {
    position: relative;
    height: min-content;
    width: 88.89%;
    margin: 200px auto 0px;
    @include xl {
      width: 91.43%;
    }
    @include lg {
      width: 93.43%;
      margin: 158px auto 0px;
    }
    @include md {
      width: 94.99%;
      margin: 113px auto 0px;
    }
    @include sm {
      width: 96.2%;
      margin: 74px auto 0px;
    }
    @include xs {
      width: 97.12%;
      margin: 54px auto 0px;
    }
    @include xxs {
      width: 97.82%;
      margin: 35px auto 0px;
    }
    @include tn {
      width: 98.36%;
      margin: 22px auto 0px;
    }
  }
  &section2__hero-title {
    @include font-face($font_type1, rgb(35, 35, 35), -1.92px);
    @include lg {
      font-size: 43px;
      text-align: left;
    }
    @include md {
      font-size: 37px;
    }
    @include sm {
      font-size: 32px;
    }
    @include xs {
      font-size: 30px;
    }
    @include xxs {
      font-size: 27px;
    }
    @include tn {
      font-size: 25px;
    }
  }
  &section2__flex5.layout {
    position: relative;
    height: min-content;
    width: 79.17%;
    margin: 102px auto 93px;
    @include lg {
      width: 83.52%;
      margin: 84px auto 77px;
    }
    @include md {
      width: 87.11%;
      margin: 65px auto 61px;
    }
    @include sm {
      width: 90.01%;
      margin: 49px auto 46px;
    }
    @include xs {
      width: 92.32%;
      margin: 40px auto 39px;
    }
    @include xxs {
      width: 94.12%;
      margin: 32px auto;
    }
    @include tn {
      width: 95.53%;
      margin: 27px auto;
    }
  }
  &section2__flex5 {
    display: flex;
    @include lg {
      flex-wrap: wrap;
      row-gap: 16px;
    }
  }
  &section2__flex5-item {
    @include flex-item(1, 1, 500px);
    @include lg {
      flex: 0 0 100%;
    }
  }
  &section2__content-box4.layout {
    position: relative;
    height: min-content;
    flex-grow: 1;
  }
  &section2__content-box4 {
    @include flex-column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06274509803921569);
    border-radius: 20px 20px 20px 20px;
  }
  &section2__image3.layout {
    position: relative;
    height: 300px;
    width: 80%;
    margin: 50px auto 0px;
    @include lg {
      margin: 43px auto 0px;
    }
    @include md {
      margin: 35px auto 0px;
    }
    @include sm {
      margin: 28px auto 0px;
    }
    @include xs {
      margin: 24px auto 0px;
    }
    @include xxs {
      width: 84.2%;
      margin: 21px auto 0px;
    }
    @include tn {
      width: 87.67%;
      margin: 19px auto 0px;
    }
  }
  &section2__image3 {
    background: var(--src) center center / contain no-repeat;
    border-radius: 20px 20px 20px 20px;
  }
  &section2__medium-title.layout {
    position: relative;
    height: min-content;
    width: 62.4%;
    margin: 42px auto 0px;
    @include lg {
      margin: 36px auto 0px;
    }
    @include md {
      margin: 30px auto 0px;
    }
    @include sm {
      margin: 24px auto 0px;
    }
    @include xs {
      margin: 22px auto 0px;
    }
    @include xxs {
      margin: 19px auto 0px;
    }
    @include tn {
      width: 68.87%;
      margin: 17px auto 0px;
    }
  }
  &section2__medium-title {
    @include h-center-content;
    font: $font_type3;
    color: rgb(35, 35, 35);
    text-align: center;
    letter-spacing: -1.2px;
    @include lg {
      font-size: 22px;
      text-align: center;
    }
    @include md {
      font-size: 20px;
    }
    @include sm {
      font-size: 19px;
    }
    @include xs {
      font-size: 18px;
    }
    @include xxs {
      font-size: 17px;
    }
    @include tn {
      font-size: 16px;
    }
  }
  &section2__highlights1.layout {
    position: relative;
    height: min-content;
    width: 75.6%;
    margin: 25px 9.8% 60px 14.6%;
    @include lg {
      margin: 22px 9.8% 51px 14.6%;
    }
    @include md {
      margin: 19px 9.8% 42px 14.6%;
    }
    @include sm {
      margin: 16px 9.8% 34px 14.6%;
    }
    @include xs {
      margin: 14px 9.8% 30px 14.6%;
    }
    @include xxs {
      margin: 13px 9.8% 26px 14.6%;
    }
    @include tn {
      margin: 12px 9.8% 23px 14.6%;
    }
  }
  &section2__highlights1 {
    @include h-center-content;
    font: $font_type2;
    color: rgb(35, 35, 35);
    text-align: center;
    letter-spacing: -0.9px;
    @include lg {
      font-size: 17px;
      text-align: center;
    }
    @include md {
      font-size: 16px;
    }
    @include sm {
      font-size: 15px;
    }
    @include xxs {
      font-size: 14px;
    }
  }
  &section2__flex5-spacer {
    flex: 0 1 140px;
    @include lg {
      display: none;
    }
  }
  &section2__image3.layout1 {
    position: relative;
    height: 300px;
    width: 80%;
    margin: 62px auto 0px;
    @include lg {
      margin: 53px auto 0px;
    }
    @include md {
      margin: 44px auto 0px;
    }
    @include sm {
      margin: 35px auto 0px;
    }
    @include xs {
      margin: 31px auto 0px;
    }
    @include xxs {
      width: 84.2%;
      margin: 27px auto 0px;
    }
    @include tn {
      width: 87.67%;
      margin: 24px auto 0px;
    }
  }
  &section2__medium-title.layout1 {
    position: relative;
    height: min-content;
    width: 62.4%;
    margin: 30px auto 0px;
    @include lg {
      margin: 26px auto 0px;
    }
    @include md {
      margin: 22px auto 0px;
    }
    @include sm {
      margin: 19px auto 0px;
    }
    @include xs {
      margin: 17px auto 0px;
    }
    @include xxs {
      margin: 15px auto 0px;
    }
    @include tn {
      width: 68.87%;
      margin: 14px auto 0px;
    }
  }
  &section2__highlights1.layout1 {
    position: relative;
    height: min-content;
    width: 75.6%;
    margin: 25px auto 81px;
    @include lg {
      margin: 22px auto 68px;
    }
    @include md {
      margin: 19px auto 55px;
    }
    @include sm {
      margin: 16px auto 43px;
    }
    @include xs {
      margin: 14px auto 37px;
    }
    @include xxs {
      width: 80.51%;
      margin: 13px auto 32px;
    }
    @include tn {
      width: 84.63%;
      margin: 12px auto 28px;
    }
  }
}
