.profile-main.layout {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
}

.profile-main {
    display: flex;
    flex-direction: column;
    background-color: #f9fbfc;
}

.profile_container.layout {
    position: relative;
    height: min-content;
}

.profile_container {
    display: flex;
}

.profile_flex.layout {
    position: relative;
    height: min-content;
    width: 88.89%;
    margin: 84px auto;
}

.profile_flex {
    display: flex;
    flex-direction: column;
}

.profile_title.layout {
    position: relative;
    height: min-content;
}

.profile_title {
    font: 700 48px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    color: #232323;
    letter-spacing: -1.92px;
}

.profile_subflex.layout {
    position: relative;
    height: min-content;
    margin: 42px 0 15px;
}

.profile_subflex {
    display: flex;
}

.profile_avatar_layout {
    display: flex;
    position: relative;
    flex: 0 1 100px;
}

.profile_avatar_image.layout {
    position: relative;
    height: 100px;
    flex-grow: 1;
}

.profile_avatar_image {
    display: flex;
    background: var(--src) center center/contain no-repeat;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.121569);
}

.inner_spacer {
    flex: 0 1 25px;
}


.profile_name_subflex.layout {
    position: relative;
    height: min-content;
    flex-grow: 1;
    margin: 13px 0 23px;
}

.profile_name_subflex {
    display: flex;
    flex-direction: column;
}

.profile_name_text.layout {
    position: relative;
    height: min-content;
}

.profile_name_text {
    font: 500 24px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    color: #232323;
    letter-spacing: -1.2px;
}

.profile_exit.layout {
    position: relative;
    height: min-content;
    margin: 13px 0 0;
}

.profile_exit {
    font: 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    color: #232323;
    text-decoration: underline;
    letter-spacing: -0.9px;
}

