/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
@import "utils";

$font_type0: 700 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
$font_type1: 14px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
$font_type2: 500 24px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
$font_type3: 700 48px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
$font_type4: 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
$font_type5: 500 36px/1.2 "Stratos LC Web", Helvetica, Arial, serif;

.recomendation-result- {
  &main.layout {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
  }
  &main {
    @include flex-column;
    background-color: rgb(249, 251, 252);
  }
  &section1__container.layout {
    position: relative;
    height: min-content;
  }
  &section1__container {
    @include flex-column;
  }
  &section1__content-box.layout {
    position: relative;
    height: min-content;
  }
  &section1__content-box {
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06274509803921569);
  }
  &section1__content-box-item {
    @include flex-item(0, 1, 104px);
  }
  &section1__block1.layout {
    position: relative;
    min-height: 13px;
    flex-grow: 1;
    margin: 26px 0px 27px 80px;
    @include lg {
      margin: 23px 0px 24px 68px;
    }
    @include md {
      margin: 19px 0px 20px 54px;
    }
    @include sm {
      margin: 16px 0px 17px 43px;
    }
    @include xs {
      margin: 15px 0px 15px 37px;
    }
    @include xxs {
      margin: 13px 0px 14px 31px;
    }
    @include tn {
      margin: 12px 0px 13px 28px;
    }
  }
  &section1__block1 {
    display: flex;
    background: var(--src) center center / contain no-repeat;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10196078431372549);
  }
  &section1__content-box-spacer {
    flex: 0 1 8px;
  }
  &section1__highlights2.layout {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 21px 0px 23px;
    @include lg {
      margin: 18px 0px 20px;
    }
    @include md {
      margin: 16px 0px 17px;
    }
    @include sm {
      margin: 13px 0px 14px;
    }
    @include xs {
      margin: 12px 0px 13px;
    }
    @include xxs {
      margin: 11px 0px 12px;
    }
    @include tn {
      margin: 10px 0px 11px;
    }
  }
  &section1__highlights2 {
    @include font-face($font_type0, rgb(35, 35, 35), -0.9px);
    @include lg {
      font-size: 17px;
      text-align: left;
    }
    @include md {
      font-size: 16px;
    }
    @include sm {
      font-size: 15px;
    }
    @include xxs {
      font-size: 14px;
    }
  }
  &section1__content-box-spacer1 {
    flex: 0 1 1037px;
  }
  &section1__text-body.layout {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 23.5px 0px 25.5px;
    @include lg {
      margin: 21px 0px 22px;
    }
    @include md {
      margin: 17px 0px 19px;
    }
    @include sm {
      margin: 15px 0px 16px;
    }
    @include xs {
      margin: 13px 0px 15px;
    }
    @include xxs {
      margin: 12px 0px 13px;
    }
    @include tn {
      margin: 11px 0px 12px;
    }
  }
  &section1__text-body {
    @include v-center-content;
    justify-content: flex-end;
    font: $font_type1;
    color: rgb(0, 0, 0);
    text-align: right;
    letter-spacing: -0.56px;
    @include md {
      font-size: 13px;
      text-align: right;
    }
    @include xs {
      font-size: 12px;
    }
  }
  &section1__content-box-spacer2 {
    flex: 0 1 15px;
  }
  &section1__content-box-item1 {
    @include flex-item(0, 1, 110px);
  }
  &section1__block2.layout {
    position: relative;
    height: 30px;
    flex-grow: 1;
    margin: 17px 80px 19px 0px;
    @include lg {
      margin: 15px 68px 17px 0px;
    }
    @include md {
      margin: 13px 54px 14px 0px;
    }
    @include sm {
      margin: 11px 43px 12px 0px;
    }
    @include xs {
      margin: 10px 37px 11px 0px;
    }
    @include xxs {
      margin: 9px 31px 10px 0px;
    }
    @include tn {
      margin: 8px 28px 9px 0px;
    }
  }
  &section1__block2 {
    display: flex;
    background: var(--src) center center / contain no-repeat;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12156862745098039);
  }
  &section1__icon.layout {
    position: relative;
    height: 30px;
    width: 30px;
    min-width: 30px;
  }
  &section1__icon {
    background: var(--src) center center / contain no-repeat;
  }
  &section1__group.layout {
    position: relative;
    height: min-content;
    width: 88.89%;
    margin: 84px auto 88px;
    @include xl {
      width: 91.43%;
    }
    @include lg {
      width: 93.43%;
      margin: 71px auto 74px;
    }
    @include md {
      width: 94.99%;
      margin: 56px auto 58px;
    }
    @include sm {
      width: 96.2%;
      margin: 44px auto 45px;
    }
    @include xs {
      width: 97.12%;
      margin: 38px auto;
    }
    @include xxs {
      width: 97.82%;
      margin: 32px auto;
    }
    @include tn {
      width: 98.36%;
      margin: 27px auto;
    }
  }
  &section1__group {
    display: flex;
  }
  &section1__image.layout {
    position: absolute;
    top: 19px;
    height: 412px;
    width: 660px;
    right: 10px;
  }
  &section1__image {
    background: var(--src) center center / contain no-repeat;
    border-radius: 20px 20px 20px 20px;
  }
  &section1__content-box1.layout {
    position: relative;
    height: min-content;
    width: 100%;
    margin: 0px auto;
  }
  &section1__content-box1 {
    @include flex-column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06274509803921569);
    border-radius: 20px 20px 20px 20px;
  }
  &section1__medium-title.layout {
    position: relative;
    height: min-content;
    width: 90.63%;
    margin: 50px auto 0px;
    @include lg {
      width: 92.8%;
      margin: 43px auto 0px;
    }
    @include md {
      width: 94.5%;
      margin: 35px auto 0px;
    }
    @include sm {
      width: 95.82%;
      margin: 28px auto 0px;
    }
    @include xs {
      width: 96.83%;
      margin: 24px auto 0px;
    }
    @include xxs {
      width: 97.61%;
      margin: 21px auto 0px;
    }
    @include tn {
      width: 98.19%;
      margin: 19px auto 0px;
    }
  }
  &section1__medium-title {
    @include font-face($font_type2, rgb(35, 35, 35), -0.96px);
    @include lg {
      font-size: 22px;
      text-align: left;
    }
    @include md {
      font-size: 20px;
    }
    @include sm {
      font-size: 19px;
    }
    @include xs {
      font-size: 18px;
    }
    @include xxs {
      font-size: 17px;
    }
    @include tn {
      font-size: 16px;
    }
  }
  &section1__hero-title.layout {
    position: relative;
    height: min-content;
    width: 39.38%;
    margin: 31px 55.94% 0px 4.69%;
    @include lg {
      margin: 27px 55.94% 0px 4.69%;
    }
    @include md {
      margin: 23px 55.94% 0px 4.69%;
    }
    @include sm {
      margin: 19px 55.94% 0px 4.69%;
    }
    @include xs {
      margin: 18px 55.94% 0px 4.69%;
    }
    @include xxs {
      margin: 16px 55.94% 0px 4.69%;
    }
    @include tn {
      margin: 15px 55.94% 0px 4.69%;
    }
  }
  &section1__hero-title {
    @include font-face($font_type3, rgb(35, 35, 35), -1.92px);
    @include lg {
      font-size: 43px;
      text-align: left;
    }
    @include md {
      font-size: 37px;
    }
    @include sm {
      font-size: 32px;
    }
    @include xs {
      font-size: 30px;
    }
    @include xxs {
      font-size: 27px;
    }
    @include tn {
      font-size: 25px;
    }
  }
  &section1__cover-block.layout {
    position: relative;
    height: min-content;
    width: 26.17%;
    margin: 104px 69.14% 50px 4.69%;
    @include lg {
      margin: 86px 69.14% 43px 4.69%;
    }
    @include md {
      margin: 66px 69.14% 35px 4.69%;
    }
    @include sm {
      margin: 49px 69.14% 28px 4.69%;
    }
    @include xs {
      margin: 41px 69.14% 24px 4.69%;
    }
    @include xxs {
      margin: 32px 69.14% 21px 4.69%;
    }
    @include tn {
      margin: 26px 69.14% 19px 4.69%;
    }
  }
  &section1__cover-block {
    display: flex;
    background-color: rgb(128, 210, 221);
    border-radius: 20px 20px 20px 20px;
  }
  &section1__highlights1.layout {
    position: relative;
    height: min-content;
    width: 74.93%;
    margin: 13px auto 15px;
    @include lg {
      margin: 11px auto 13px;
    }
    @include md {
      margin: 10px auto 11px;
    }
    @include sm {
      margin: 8px auto 9px;
    }
    @include xs {
      margin: 7px auto 9px;
    }
    @include xxs {
      margin: 7px auto 8px;
    }
    @include tn {
      margin: 6px auto 7px;
    }
  }
  &section1__highlights1 {
    @include font-face($font_type4, rgb(255, 255, 255), 0px);
    @include lg {
      font-size: 17px;
      text-align: left;
    }
    @include md {
      font-size: 16px;
    }
    @include sm {
      font-size: 15px;
    }
    @include xxs {
      font-size: 14px;
    }
  }
  &section2__container.layout {
    position: relative;
    height: min-content;
  }
  &section2__container {
    display: flex;
  }
  &section2__flex.layout {
    position: relative;
    height: min-content;
    width: 88.89%;
    margin: 62px auto;
    @include xl {
      width: 91.43%;
    }
    @include lg {
      width: 93.43%;
      margin: 53px auto;
    }
    @include md {
      width: 94.99%;
      margin: 44px auto;
    }
    @include sm {
      width: 96.2%;
      margin: 35px auto;
    }
    @include xs {
      width: 97.12%;
      margin: 31px auto;
    }
    @include xxs {
      width: 97.82%;
      margin: 27px auto;
    }
    @include tn {
      width: 98.36%;
      margin: 24px auto;
    }
  }
  &section2__flex {
    @include flex-column;
  }
  &section2__hero-title.layout {
    position: relative;
    height: min-content;
  }
  &section2__hero-title {
    @include font-face($font_type3, rgb(35, 35, 35), -1.92px);
    @include lg {
      font-size: 43px;
      text-align: left;
    }
    @include md {
      font-size: 37px;
    }
    @include sm {
      font-size: 32px;
    }
    @include xs {
      font-size: 30px;
    }
    @include xxs {
      font-size: 27px;
    }
    @include tn {
      font-size: 25px;
    }
  }
  &section2__hero-title1.layout {
    position: relative;
    height: min-content;
    margin: 52px 0px 0px;
    @include lg {
      margin: 44px 0px 0px;
    }
    @include md {
      margin: 36px 0px 0px;
    }
    @include sm {
      margin: 29px 0px 0px;
    }
    @include xs {
      margin: 25px 0px 0px;
    }
    @include xxs {
      margin: 22px 0px 0px;
    }
    @include tn {
      margin: 20px 0px 0px;
    }
  }
  &section2__hero-title1 {
    @include font-face($font_type5, rgb(35, 35, 35), -1.44px);
    @include lg {
      font-size: 32px;
      text-align: left;
    }
    @include md {
      font-size: 29px;
    }
    @include sm {
      font-size: 25px;
    }
    @include xs {
      font-size: 24px;
    }
    @include xxs {
      font-size: 22px;
    }
    @include tn {
      font-size: 21px;
    }
  }
  &section2__flex1.layout {
    position: relative;
    height: min-content;
    margin: 41px 0px 0px;
    @include lg {
      margin: 35px 0px 0px;
    }
    @include md {
      margin: 29px 0px 0px;
    }
    @include sm {
      margin: 24px 0px 0px;
    }
    @include xs {
      margin: 21px 0px 0px;
    }
    @include xxs {
      margin: 19px 0px 0px;
    }
    @include tn {
      margin: 17px 0px 0px;
    }
  }
  &section2__flex1 {
    display: flex;
    @include lg {
      flex-wrap: wrap;
      row-gap: 16px;
    }
  }
  &section2__flex1-item {
    @include flex-item(1, 1, 380px);
    @include lg {
      flex: 0 0 100%;
    }
  }
  &section2__cover-group.layout {
    position: relative;
    height: min-content;
    flex-grow: 1;
  }
  &section2__cover-group {
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06274509803921569);
    border-radius: 20px 20px 20px 20px;
  }
  &section2__flex2.layout {
    position: relative;
    height: min-content;
    flex-grow: 1;
    margin: 40px 30px;
    @include lg {
      margin: 35px 26px;
    }
    @include md {
      margin: 29px 22px;
    }
    @include sm {
      margin: 24px 19px;
    }
    @include xs {
      margin: 21px 17px;
    }
    @include xxs {
      margin: 19px 15px;
    }
    @include tn {
      margin: 17px 14px;
    }
  }
  &section2__flex2 {
    @include flex-column;
  }
  &section2__medium-title.layout {
    position: relative;
    height: min-content;
  }
  &section2__medium-title {
    @include font-face($font_type2, rgb(35, 35, 35), -1.2px);
    @include lg {
      font-size: 22px;
      text-align: left;
    }
    @include md {
      font-size: 20px;
    }
    @include sm {
      font-size: 19px;
    }
    @include xs {
      font-size: 18px;
    }
    @include xxs {
      font-size: 17px;
    }
    @include tn {
      font-size: 16px;
    }
  }
  &section2__highlights-box.layout {
    position: relative;
    height: min-content;
    margin: 31px 10px 66px 0px;
    @include lg {
      margin: 27px 9px 57px 0px;
    }
    @include md {
      margin: 23px 7px 47px 0px;
    }
    @include sm {
      margin: 19px 6px 38px 0px;
    }
    @include xs {
      margin: 18px 6px 33px 0px;
    }
    @include xxs {
      margin: 16px 5px 29px 0px;
    }
    @include tn {
      margin: 15px 5px 26px 0px;
    }
  }
  &section2__highlights-box {
    @include lg {
      align-items: flex-start;
      justify-content: flex-start;
    }
    @include md {
      align-items: flex-start;
      justify-content: flex-start;
    }
    @include sm {
      align-items: flex-start;
      justify-content: flex-start;
    }
    @include xxs {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  &section2__highlights {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    @include font-face($font_type4, rgb(0, 0, 0), -0.9px);
    white-space: pre-wrap;
    @include lg {
      font-size: 17px;
      text-align: left;
    }
    @include md {
      font-size: 16px;
    }
    @include sm {
      font-size: 15px;
    }
    @include xxs {
      font-size: 14px;
    }
  }
  &section2__flex1-spacer {
    flex: 0 1 30px;
    @include lg {
      display: none;
    }
  }
  &section2__flex3.layout {
    position: relative;
    height: min-content;
    flex-grow: 1;
    margin: 40px 18px;
    @include lg {
      margin: 35px 16px;
    }
    @include md {
      margin: 29px 13px;
    }
    @include sm {
      margin: 24px 11px;
    }
    @include xs {
      margin: 21px 10px;
    }
    @include xxs {
      margin: 19px 9px;
    }
    @include tn {
      margin: 17px 9px;
    }
  }
  &section2__flex3 {
    @include flex-column;
  }
  &section2__medium-title.layout1 {
    position: relative;
    height: min-content;
    margin: 0px 0px 0px 12px;
    @include lg {
      margin: 0px 0px 0px 11px;
    }
    @include md {
      margin: 0px 0px 0px 9px;
    }
    @include sm {
      margin: 0px 0px 0px 8px;
    }
    @include xs {
      margin: 0px 0px 0px 7px;
    }
    @include xxs {
      margin: 0px 0px 0px 6px;
    }
  }
  &section2__highlights1.layout {
    position: relative;
    height: min-content;
    margin: 32px 22px 15px 12px;
    @include lg {
      margin: 28px 19px 13px 11px;
    }
    @include md {
      margin: 24px 16px 11px 9px;
    }
    @include sm {
      margin: 20px 14px 9px 8px;
    }
    @include xs {
      margin: 18px 13px 9px 7px;
    }
    @include xxs {
      margin: 16px 11px 8px 6px;
    }
    @include tn {
      margin: 15px 10px 7px 6px;
    }
  }
  &section2__highlights1 {
    @include font-face($font_type4, rgb(0, 0, 0), -0.9px);
    @include lg {
      font-size: 17px;
      text-align: left;
    }
    @include md {
      font-size: 16px;
    }
    @include sm {
      font-size: 15px;
    }
    @include xxs {
      font-size: 14px;
    }
  }
  &section2__highlights2-box.layout {
    position: relative;
    height: min-content;
    margin: 31px 10px 66px 0px;
    @include lg {
      margin: 27px 9px 57px 0px;
    }
    @include md {
      margin: 23px 7px 47px 0px;
    }
    @include sm {
      margin: 19px 6px 38px 0px;
    }
    @include xs {
      margin: 18px 6px 33px 0px;
    }
    @include xxs {
      margin: 16px 5px 29px 0px;
    }
    @include tn {
      margin: 15px 5px 26px 0px;
    }
  }
  &section2__highlights2-box {
    @include lg {
      align-items: flex-start;
      justify-content: flex-start;
    }
    @include md {
      align-items: flex-start;
      justify-content: flex-start;
    }
    @include sm {
      align-items: flex-start;
      justify-content: flex-start;
    }
    @include xxs {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  &section2__hero-title1.layout1 {
    position: relative;
    height: min-content;
    margin: 120px 0px 0px;
    @include lg {
      margin: 98px 0px 0px;
    }
    @include md {
      margin: 74px 0px 0px;
    }
    @include sm {
      margin: 53px 0px 0px;
    }
    @include xs {
      margin: 43px 0px 0px;
    }
    @include xxs {
      margin: 33px 0px 0px;
    }
    @include tn {
      margin: 26px 0px 0px;
    }
  }
  &section2__flex5.layout {
    position: relative;
    height: min-content;
    margin: 41px 0px 0px;
    @include lg {
      margin: 35px 0px 0px;
    }
    @include md {
      margin: 29px 0px 0px;
    }
    @include sm {
      margin: 24px 0px 0px;
    }
    @include xs {
      margin: 21px 0px 0px;
    }
    @include xxs {
      margin: 19px 0px 0px;
    }
    @include tn {
      margin: 17px 0px 0px;
    }
  }
  &section2__flex5 {
    display: flex;
    @include lg {
      flex-wrap: wrap;
      row-gap: 16px;
    }
  }
  &section2__flex5-item {
    @include flex-item(1, 1, 380px);
    @include lg {
      flex: 0 0 100%;
    }
  }
  &section2__flex5-spacer {
    flex: 0 1 30px;
    @include lg {
      display: none;
    }
  }
  &section2__medium-title.layout2 {
    position: relative;
    height: min-content;
    margin: 0px 0px 0px 12px;
    @include lg {
      margin: 0px 0px 0px 11px;
    }
    @include md {
      margin: 0px 0px 0px 9px;
    }
    @include sm {
      margin: 0px 0px 0px 8px;
    }
    @include xs {
      margin: 0px 0px 0px 7px;
    }
    @include xxs {
      margin: 0px 0px 0px 6px;
    }
  }
  &section2__highlights2.layout {
    position: relative;
    height: min-content;
    margin: 32px 22px 15px 12px;
    @include lg {
      margin: 28px 19px 13px 11px;
    }
    @include md {
      margin: 24px 16px 11px 9px;
    }
    @include sm {
      margin: 20px 14px 9px 8px;
    }
    @include xs {
      margin: 18px 13px 9px 7px;
    }
    @include xxs {
      margin: 16px 11px 8px 6px;
    }
    @include tn {
      margin: 15px 10px 7px 6px;
    }
  }
  &section2__highlights2 {
    @include font-face($font_type4, rgb(0, 0, 0), -0.9px);
    @include lg {
      font-size: 17px;
      text-align: left;
    }
    @include md {
      font-size: 16px;
    }
    @include sm {
      font-size: 15px;
    }
    @include xxs {
      font-size: 14px;
    }
  }
  &section2__highlights3-box.layout {
    position: relative;
    height: min-content;
    margin: 31px 10px 66px 0px;
    @include lg {
      margin: 27px 9px 57px 0px;
    }
    @include md {
      margin: 23px 7px 47px 0px;
    }
    @include sm {
      margin: 19px 6px 38px 0px;
    }
    @include xs {
      margin: 18px 6px 33px 0px;
    }
    @include xxs {
      margin: 16px 5px 29px 0px;
    }
    @include tn {
      margin: 15px 5px 26px 0px;
    }
  }
  &section2__highlights3-box {
    @include lg {
      align-items: flex-start;
      justify-content: flex-start;
    }
    @include md {
      align-items: flex-start;
      justify-content: flex-start;
    }
    @include sm {
      align-items: flex-start;
      justify-content: flex-start;
    }
    @include xxs {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  &section2__hero-title1.layout2 {
    position: relative;
    height: min-content;
    margin: 120px 0px 0px;
    @include lg {
      margin: 98px 0px 0px;
    }
    @include md {
      margin: 74px 0px 0px;
    }
    @include sm {
      margin: 53px 0px 0px;
    }
    @include xs {
      margin: 43px 0px 0px;
    }
    @include xxs {
      margin: 33px 0px 0px;
    }
    @include tn {
      margin: 26px 0px 0px;
    }
  }
  &section2__group.layout {
    position: relative;
    height: min-content;
    margin: 41px 0px 238px;
    @include lg {
      margin: 35px 0px 187px;
    }
    @include md {
      margin: 29px 0px 131px;
    }
    @include sm {
      margin: 24px 0px 84px;
    }
    @include xs {
      margin: 21px 0px 60px;
    }
    @include xxs {
      margin: 19px 0px 36px;
    }
    @include tn {
      margin: 17px 0px 20px;
    }
  }
  &section2__group {
    display: flex;
  }
  &section2__flex9.layout {
    position: relative;
    height: min-content;
    flex-grow: 1;
  }
  &section2__flex9 {
    display: flex;
    @include lg {
      flex-wrap: wrap;
      row-gap: 16px;
    }
  }
  &section2__flex9-item {
    @include flex-item(1, 1, 380px);
    @include lg {
      flex: 0 0 100%;
    }
  }
  &section2__medium-title.layout3 {
    position: relative;
    height: min-content;
    margin: 0px 0px 0px 12px;
    @include lg {
      margin: 0px 0px 0px 11px;
    }
    @include md {
      margin: 0px 0px 0px 9px;
    }
    @include sm {
      margin: 0px 0px 0px 8px;
    }
    @include xs {
      margin: 0px 0px 0px 7px;
    }
    @include xxs {
      margin: 0px 0px 0px 6px;
    }
  }
  &section2__highlights3.layout {
    position: relative;
    height: min-content;
    margin: 32px 22px 15px 12px;
    @include lg {
      margin: 28px 19px 13px 11px;
    }
    @include md {
      margin: 24px 16px 11px 9px;
    }
    @include sm {
      margin: 20px 14px 9px 8px;
    }
    @include xs {
      margin: 18px 13px 9px 7px;
    }
    @include xxs {
      margin: 16px 11px 8px 6px;
    }
    @include tn {
      margin: 15px 10px 7px 6px;
    }
  }
  &section2__highlights3 {
    @include font-face($font_type4, rgb(0, 0, 0), -0.9px);
    @include lg {
      font-size: 17px;
      text-align: left;
    }
    @include md {
      font-size: 16px;
    }
    @include sm {
      font-size: 15px;
    }
    @include xxs {
      font-size: 14px;
    }
  }
  &section2__flex9-spacer {
    flex: 0 1 30px;
    @include lg {
      display: none;
    }
  }
  &section2__medium-title.layout4 {
    position: relative;
    height: min-content;
    margin: 0px 0px 0px 12px;
    @include lg {
      margin: 0px 0px 0px 11px;
    }
    @include md {
      margin: 0px 0px 0px 9px;
    }
    @include sm {
      margin: 0px 0px 0px 8px;
    }
    @include xs {
      margin: 0px 0px 0px 7px;
    }
    @include xxs {
      margin: 0px 0px 0px 6px;
    }
  }
  &section2__highlights4.layout {
    position: relative;
    height: min-content;
    margin: 32px 22px 36px 12px;
    @include lg {
      margin: 28px 19px 31px 11px;
    }
    @include md {
      margin: 24px 16px 26px 9px;
    }
    @include sm {
      margin: 20px 14px 22px 8px;
    }
    @include xs {
      margin: 18px 13px 20px 7px;
    }
    @include xxs {
      margin: 16px 11px 17px 6px;
    }
    @include tn {
      margin: 15px 10px 16px 6px;
    }
  }
  &section2__highlights4 {
    @include font-face($font_type4, rgb(0, 0, 0), -0.9px);
    @include lg {
      font-size: 17px;
      text-align: left;
    }
    @include md {
      font-size: 16px;
    }
    @include sm {
      font-size: 15px;
    }
    @include xxs {
      font-size: 14px;
    }
  }
  &section2__medium-title.layout5 {
    position: relative;
    height: min-content;
    margin: 0px 0px 0px 12px;
    @include lg {
      margin: 0px 0px 0px 11px;
    }
    @include md {
      margin: 0px 0px 0px 9px;
    }
    @include sm {
      margin: 0px 0px 0px 8px;
    }
    @include xs {
      margin: 0px 0px 0px 7px;
    }
    @include xxs {
      margin: 0px 0px 0px 6px;
    }
  }
  &section2__highlights5.layout {
    position: relative;
    height: min-content;
    margin: 32px 22px 15px 12px;
    @include lg {
      margin: 28px 19px 13px 11px;
    }
    @include md {
      margin: 24px 16px 11px 9px;
    }
    @include sm {
      margin: 20px 14px 9px 8px;
    }
    @include xs {
      margin: 18px 13px 9px 7px;
    }
    @include xxs {
      margin: 16px 11px 8px 6px;
    }
    @include tn {
      margin: 15px 10px 7px 6px;
    }
  }
  &section2__highlights5 {
    @include font-face($font_type4, rgb(0, 0, 0), -0.9px);
    @include lg {
      font-size: 17px;
      text-align: left;
    }
    @include md {
      font-size: 16px;
    }
    @include sm {
      font-size: 15px;
    }
    @include xxs {
      font-size: 14px;
    }
  }
}
