
.title_1.layout1 {
    position: relative;
    height: min-content;
    width: max-content;
    margin: 20px 0 0 80px;
}

.main_flex.layout {
    position: relative;
    height: min-content;
    flex-direction: row;
    justify-content: center;
}

.main_flex {
    display: flex;
    height: min-content;
    flex: 1 0 30%;
}

.main_flex_item {
    display: flex;
    position: relative;
    flex-direction: column;
    height: min-content;
}


.button.layout {
    margin: 0 0 0 0;
    padding: 10px 20px 10px 20px;
}


.main_flex_spacer {
    flex: 0 0 10%;
}

.main_image_subflex {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.main_image.layout {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 0 20px 20px 20px;

}

.main_image {
    background: var(--src) content-box;
    background-position: center top;
    background-size: 120%;
    border-radius: 20px 20px 20px 20px;
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.0627451));
    padding: 0 0 0 0;
}

.our_help_flex.layout {
    position: relative;
    height: min-content;
    width: 88.89%;
    margin: 102px auto 43px;
}

.our_help_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-page-section1__flex2-spacer {
    flex: 0 1 100px;
}


.bottom_line_container {
    display: flex;
    flex-direction: row;
}

.bottom_line_container.layout {
    position: relative;
    height: min-content;
    background-color: white;
    flex-grow: 1;
    margin: 0 0;
}

.bottom_line_column.layout {
    position: relative;
    height: min-content;
    flex-grow: 1;
    margin: 50px 0 0 50px;
}

.bottom_line_column {
    display: flex;
    flex-direction: column;
}

.bottom_line_image.layout {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 247px;
    flex: 0 1 70%;
}

.bottom_line_image {
    background: var(--src) center center/contain no-repeat;
}


.career_goal_flex.layout {
    position: relative;
    height: min-content;
    width: 79.17%;
    margin: 50px auto 50px;
}

.career_goal_flex {
    display: flex;
}

.career_goal_flex_item {
    display: flex;;
    flex-direction: column;
    position: relative;
    width: max-content;
    flex: 0 1 900px;
}

.career_goal_flex_item:hover .career_goal_choice {
    display: none
}

.career_goal_flex_item:hover .replacement_choice {
    display: flex;
}

.career_goal_choice.layout {
    position: relative;
    height: min-content;
    flex-grow: 1;
}

.replacement_choice.layout {
    flex-direction: row;
    height: min-content;
    border-radius: 20px 20px 20px 20px;
    background-color: #80D2DD;
    display: none
}


.career_goal_choice {
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.0627451);
    border-radius: 20px 20px 20px 20px;
}

.career_goal_info {
    display: flex;
    flex-direction: column;
    flex: 1 0 200px;
}

.career_goal_image.layout {
    display: flex;
    flex-direction: column;
    flex: 0 1 500px;
    position: relative;
    height: 300px;
    width: max-content;
}

.career_goal_image {
    height: 300px;
    width: max-content;
    background: var(--src) center center/contain no-repeat;
    border-radius: 20px 20px 20px 20px;
}

.replace_text.layout {
    height: min-content;
    position: relative;
    width: min-content;
}

.replace_text {
    display: flex;
    justify-content: center;
    font: 500 40px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    color: white;
    font-weight: bold;
    text-align: left;
    letter-spacing: -1.2px;
    position: relative;
    height: min-content;
    width: 50%;
    margin: 15% 10px 15% 30px;
}


.title_2.layout {
    display: flex;
    justify-content: center;
    position: relative;
    height: min-content;
    width: max-content;
    max-width: 300px;
}

.title_2 {
    font: 700 24px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    color: #232323;
    letter-spacing: -1.2px;
    margin: 30px 10px 0 0;
}

.normal_text.layout {
    position: relative;
    height: min-content;
    max-width: 500px;
}

.normal_text {
    display: flex;
    font: 18px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    color: #232323;
    letter-spacing: -0.9px;
}

.normal_text {
    position: relative;
    height: min-content;
    width: 75.6%;
    margin: 30px 0 0 0;
}


.button.layout1 {
    margin: 20px 50px 20px 0;
    padding: 10px 30px 10px 30px;
    font: 24px/1.2 "Stratos LC Web", Helvetica, Arial, serif;
    width: max-content;
}